{{<layout}}
{{$pageTitle}}Your medical insurance benefit{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}



<main id="content" role="main">
    <div class="inner-block">
        
       
 <div id="global-breadcrumb" class="header-context">
<ol class="group" role="breadcrumbs">
    <li>
<a href="">Account home</a>
</li>
    
      <li>
<a href="/mb9v2/mb9v2-check-income-tax.html">Income Tax</a>
</li>

    

</ol>
</div>
    <div class="eng-welsh-toggle"><p style="font-size:19px">English | <a href="">Cymraeg</a></p></div>    
        
            
        <header class="page-header group">
            <h1 class="heading-xlarge2">Your tax codes</h1>
            <h3 class="heading-medium-title">6 April 2015 to 5 April 2016</h3>
            
            
           
        </header>
        
     <div class="column-two-thirds">
<section class="section--branded hmrc flush--bottom hard--bottom">
        <h2>How we’ve worked out your tax code</h2>

        
            

            <p style="padding-top:20px">You have £10,000 tax free amount remaining after your taxable benefits or underpayments. This figure is used to work out your tax code.</p>

            

            <table id="tax-estimate-table">
                <thead>
                    <tr>
                        <th>Tax code calculation</th>
                        <th class="text--right">Amount (£)</th>
                    </tr>
                </thead>
              <tbody>
                
                    
                        <tr>
                            
                                
                                    <td class="allowances-description">Your tax free amount</td>
                                
                            
                                <td class="text--right allowances-amount">10,600</td>
                        </tr>
                    
                
                
                    
                        
                            <tr>
                                <td class="deductions-description">Less medical benefit</td>
                                <td class="text--right deduction-amount">400</td>
                            </tr>
                        
                    
                        
                        
                    
                        
                           
                    
                
            </tbody>
                
                <tfoot>
                <tr class="table__row--bold">
                    <td>Total</td>
                    <td class="text--right" id="tax-code-total">10,200</td>
                </tr>
            </tfoot>
                
            </table>
        
    </section>
        
         
         
         
         <section>
             
             
   <h3 class="heading-medium">Your tax code</h3>
        <ul id="code-descriptions">
            
                
                    <li class="taxcode-letter">The letter L means that you're entitled to the basic tax-free Personal Allowance. BR means that all your income from this job or pension is taxed at the basic rate of 20%. </li>
                
                   
            
        </ul>

        

<table id="tax-code-employments">
    <thead>
    <tr>
        <th>Job or pension</th>
        <th class="text--right">Tax code</th>
    </tr>
    </thead>
    <tbody>
        
            
                <tr>
                    <td class="users-income-name">Waitrose</td>
                    <td class="text--right users-income-taxcode">1020L</td>
                </tr>
        
           <tr>
                    <td class="users-income-name">Starbucks</td>
                    <td class="text--right users-income-taxcode">BR</td>
                </tr>
            
               
            
        
    </tbody>
</table>


    </section>
         
         
         
         
         
           <!-- back to previous page link -->
                                          
                       <p class="back-to-previous"><a href="/mb9v2/mb9v2-check-income-tax.html">Back</a></p>
                        
                        <!-- end of link -->
      
         
         
        </div>
        
        
       
       
            
              <!-- start of anythign wrong link-->
        
         <div class="column-two-thirds">
             
             
         
                    <p class="report-a-problem-toggle" style="padding:50px 0 0 0; margin-bottom:-100px">
                        <a href="#" id="toggle2">Is there anything wrong with this page?</p></a>
                    </p>
            
             
             
<div  class="toggle2" style="display:none; padding:80px 0 0 0;">
                <div class="report-a-problem-container">
                    <div class="report-a-problem-inner">
                        <div class="report-a-problem-content" >
                            <h2 class="heading-medium">Help us improve GOV.UK</h2>
                            <p style="font-size:19px">Don't include personal or financial information, eg your National Insurance number or credit card details.</p>
                            <form accept-charset="UTF-8" id="help-improve-form" novalidate="novalidate" _lpchecked="1">

                                <div class="form-group form-group-error">
                                    <label for="what_doing" class="form-label">What you were doing</label>
                                    <label for="what_doing" class="error">Please enter details of what you were doing.</label><input id="what_doing" class="form-control" name="what_doing" type="text" required="" aria-required="true" aria-invalid="true">
                                </div>
                                <div class="form-group form-group-error">
                                    <label for="went_wrong" class="form-label">What went wrong</label>
                                    <label for="went_wrong" class="error">Please enter details of what went wrong.</label><input id="went_wrong" class="form-control" name="went_wrong" type="text" required="" aria-required="true">
                                </div>
                                <div class="button-wrapper">
                                    <button name="commit" type="submit" class="button">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> 
             <!-- end of anything wrong link -->
        
    
    
    
        </div>
        
        
        
    </div><!-- end inner block -->
    
    
</main>


<script>
var my_title = document.getElementById("proposition-name");
    my_title.innerHTML = "Check your Income Tax"
</script>



{{/content}}
{{/layout}}