{{<layout}}
{{$pageTitle}}You’ve stopped getting this benefit{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
      
        <header class="page-header group">
            <h1 class="heading-xlarge">You’ve never had this benefit</h1>
                
        </header>
        
         <div class="column-two-thirds">
             
        <div class="grid-row group">
            
      
                
  <div class="panel-indent">
    <p>
 If you’ve never had this company benefit it will be removed from our records.
    </p>
  </div>

            
            <p>You’ve told us that you’ve never had private medical insurance benefit from {{employer}}?</p>
            
            <p>Are you sure that you’ve never had this company benefit?</p>
            
        
                
            <input type="hidden" name="Employer" value="{{employer}}">
            
            <fieldset class="questions">
                
                
                
  <fieldset class="inline">
    <label class="block-label" for="radio-inline-1">
      <input id="radio-inline-1" name="radio-inline-group" value="Yes" type="radio">
      Yes
    </label>
    <label class="block-label" for="radio-inline-2">
      <input id="radio-inline-2" name="radio-inline-group" value="No" type="radio">
      No
    </label>
  </fieldset>


                
                
                
           
                  
             </fieldset>
                   
         
            
          
            
              <a id="question-submit2-v2" href="/" class="button">Continue</a>
            
            
            
                  
             
                <a class="cancel" href="mb6-home-updated">Cancel – your changes will not be saved</a>
            
            
            
            
            
            
            
            
            
            
            </div>
        </div>
       </div><!-- end inner block -->
</main>
{{/content}}
{{/layout}}