{{<layout}}
{{$pageTitle}}Confirm the value of this benefit{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    
  <!-- scipt for comma function on value page -->
    <script type="text/javascript">
            function format(input)
            {
                var nStr = input.value + '';
                nStr = nStr.replace( /\,/g, "");
                x = nStr.split( '.' );
                x1 = x[0];
                x2 = x.length > 1 ? '.' + x[1] : '';
                var rgx = /(\d+)(\d{3})/;
                while ( rgx.test(x1) ) {
                    x1 = x1.replace( rgx, '$1' + ',' + '$2' );
                }
                input.value = x1 + x2;
            }
        </script>
    
    
            <div class="inner-block">

                <header class="page-header group">
                    <h1 class="heading-xlarge">Confirm the value of this benefit</h1>

                </header>

                    <div class="column-two-thirds">

                    <div class="grid-row group">
            
            
      
                
                
                    <div class="panel-indent">
                        <p>
                        You may need to ask your employer how much they’d paid for your benefit from 6 April 2015 until the date it stopped.	
                        </p>
                    </div>

                
                
                    <form id="mb-choice" method="GET" action="mb6-summary">
                        <div class="form-group">
                        <label class="form-label" for="update">Our records show that {{employer}} have given you medical insurance benefit with a value of                          £{{currentValue}} since 6 April 2015. <br/><br/>
                            
                            Is this value correct?
                            
                           </label>
                        
                        <br/>
                        
                     
                          <input type="hidden" name="Employer" value="{{employer}}">
                           
            
                            <fieldset class="questions">
                
                
                                <div id="paid1" class="form-group form-group-compound">
                                    <fieldset class="inline">
                                    <label class="block-label"  for="radio-indent9-1">Yes
                                        <input id="radio-indent9-1" name="radio-indent-group9" value="yes" type="radio">
                                  
                                    </label>
                                <label class="block-label" for="radio-indent9-2">No
                                <input id="radio-indent9-2" name="radio-indent-group9" value="no" type="radio">
                                   
                                </label>
                                    </fieldset>
   
                            </div>
                 
                  
                            </fieldset>
                        
                        
                        
                   <!-- show if slects no -->
                       <div class="panel-indent" id="paidnobox">
                           <p>Actual value paid by {{employer}}</p>
                        <span class="form-hint">The amount you enter will be rounded down when used in any future tax calculations.</span>
                        <br>
                        <div class="pound">
                            <p>£</p>
                        </div>
                        
             
                        
                        <input class="form-control" id="update" name="update" type="text" onkeyup="format(this)">
                            </div>
                        </div>
                    
                    
                      
                        
                        
                     <div >
                         <a id="question-submit5" href="/" class="button">Confirm</a>
                        </div>
                    
                    
                    </div> 
                </form>
                <a class="cancel" href="mb6-question-a?employer=Costa">Back</a>
            </div>
        </div>
       </div><!-- end inner block -->
</main>
{{/content}}
{{/layout}}