{{<layout}}
{{$pageTitle}}Your medical insurance company benefit{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        <header class="page-header group">
            <h1 class="heading-xlarge">Your medical insurance company benefit <br>for the tax year 6 April 2015 to 5 April 2016</h1>
            
            
           
            <!--<h2 class="heading-medium">Your medical insurance</h2>-->
            
            

            
         
            
            
            
            <!--p>You currently receive these medical insurances.</p-->
        </header>
        
     
        
  <div class="panel-indent">
    <p>
     If you still get a medical insurance benefit from your employer, but the amount they pay is wrong, you must contact HM Revenue and Customs.
    </p>
  </div>

        
        
   <table class="mb-sum borderless">
                                <tbody>
                    <tr>
                        <td></td>
                         <td></td>
                       
                        <td><a href="mb6-add">Add new insurance</a></td>
                        
                    </tr>
                    
                </tbody>
            </table>
       
        
        
        
        <hr>
        
   <!--  <div class="grid-row">
    <div class="column-two-thirds borderless">
  
    </div>
    <div class="column-third">
   <a href="mb4-add">Add new insurance</a>
    </div>
  </div>-->
      
        
        
        
        
        
        
       <!-- <div class="grid-row2">
        </div>-->
        
        
        
        
        
 
       <!-- <div class="grid-row group" id="sb-table">
            <div class="column-two-thirds bd-top">
                <h3 class="heading-small">Starbucks</h3>
                <table>
                    <tbody>
                        <tr>
                            <td>Amount paid by this employer</td>
                            <td>£<span id="sb-amount">5000</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="column-third bd-top">
                <h3 class="heading-small">Manage this insurance</h3>
                <ul>-->
                  <!-- <li><a href="mb4-update-only?employer=Starbucks">Update this insurance</a></li>-->
                  <!--  <li><a href="mb5-update?employer=Starbucks">Tell us that this medical insurance has ended</a></li>
                    <li><a href="mb5-remove?employer=Starbucks">Remove this insurance</a></li>
                </ul>
            </div>
        </div>  -->
        
        
        
        
     <!--   <div class="grid-row group" id="cc-table">
            <div class="column-two-thirds bd-top2">
                <h3 class="heading-small">Costa</h3>
                <table class="norule">
                    <tbody>
                        <tr>
                            <td>Amount paid:</td>
                            <td>£<span id="cc-amount">1000</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="column-third bd-top2">
                <h3 class="heading-small">Manage this insurance</h3>
                <ul>-->
             <!-- <li><a href="mb4-update-only?employer=Costa">Update this insurance</a></li>-->
                   <!-- <li><a href="mb5-update?employer=Costa">Tell us that this medical insurance has ended</a></li>
                    <li><a href="mb5-remove?employer=Costa">Remove this insurance</a></li>
                </ul>
            </div>
        </div>   -->
       
        
          
        
        
        
          <table class="mb-sum borderless" id="cc-table">
                <thead>
                <!--    <tr>
                        <th scope="col">Provider</th>
                        <th scope="col">Medical benefit (£)</th>
                        <th scope="col">&nbsp;</th>
                    </tr>-->
                </thead>
                <tbody>
                    <tr>
                        <td>Costa</td>
                         <td></td>
                       
                        <td><a href="mb6-update?employer=Costa">I've stopped getting this benefit</a></td>
                        
                    </tr>
                    <tr>
                        <td>Amount paid:</td>
                        <td>£<span id="cc-amount">1000</span></td>
                        <td><a href="mb6-remove?employer=Costa">I’ve never had this benefit in this tax year</a></td>
                    </tr>
                    
                       <tr>
                        <td></td>
                        <td></td>
                        <td><a href="mb6-remove-b?employer=Costa">I’ve never had this benefit</a></td>
                    </tr>
                    
                 <tr>
                        <td></td>
                        <td></td>
                        <td><a href="mb6-update-only?employer=Costa">Update this benefit</a></td>
                    </tr>
                    
                    
                </tbody>
            </table>
        
        <hr>
        
        
        
          
        
        
         <table class="mb-sum borderless" id="add-table">
                <thead>
               </thead>
                <tbody>
                    <tr>
                        <td>{{addedEmployer}}</td>
                        
                         <td></td>
                       
                        <td><a href="">I've stopped getting this benefit</a></td>
                        
                    </tr>
                    <tr>
                        <td>Amount paid: </td>
                        
                        <td>£<span id="add-amount">{{addedAmount}}</span></td>
                        
                        
                        <td><a href="">I’ve never had this benefit in this tax year</a></td>
                    </tr>
                    
                      <tr>
                        <td></td>
                        <td></td>
                        <td><a href="">I’ve never had this benefit</a></td>
                    </tr>
                    
                     <tr>
                        <td></td>
                        <td></td>
                        <td><a href="/">Update this benefit</a></td>
                    </tr>
                    
                    
                </tbody>
              
            </table>
      
        
        
    </div><!-- end inner block -->
</main>


{{/content}}
{{/layout}}