{{<layout}}
{{$pageTitle}}You’ve stopped getting this benefit{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
      
        <header class="page-header group">
            <h1 class="heading-xlarge">You’ve stopped getting this benefit</h1>
                
        </header>
        
         <div class="column-two-thirds">
             
        <div class="grid-row group">
            
            
      
                
                
  <div class="panel-indent">
    <p>
    If your company benefit stopped on or after 6 April 2015, you’ll need to ask your employer how much they’d paid from 6 April 2015 until the date it stopped.
    </p>
  </div>

                
            <fieldset class="inline">
    <legend>
      <span class="form-label">
        Do you know their National Insurance number?
      </span>
    </legend>
    <div class="form-group form-group-compound">
      <label class="block-label" data-target="example-ni-no" for="radio-indent-1">
        <input id="radio-indent-1" name="radio-indent-group" value="Yes" type="radio">
        Yes
      </label>
      <label class="block-label" for="radio-indent-2">
        <input id="radio-indent-2" name="radio-indent-group" value="No" type="radio">
        No
      </label>
    </div>
   
  </fieldset>
                  
                    
                    
              <a href="/" class="button">Next</a>
            
            
            
                  
             
                <a class="cancel" href="mb6-home-updated">Cancel – your changes will not be saved</a>
            </div>
        </div>
       </div><!-- end inner block -->
</main>
{{/content}}
{{/layout}}