{{<layout}}
{{$pageTitle}}Your medical insurance company benefit{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block" id="my-bens">
        
       
       
        <header class="page-header group">
            <h1 class="heading-xlarge">Your medical insurance company <br> benefit for the tax year 6 April 2015 <br>to 5 April 2016</h1>
           
            
            
           
            <!--<h2 class="heading-medium">Your medical insurance</h2>


 </header>-->
            
            

      
            <!--p>You currently receive these medical insurances.</p-->
        </header>
        
         <div class="column-two-thirds">
        
   <!--    <table class="mb-sum borderless">
                                <tbody>
                    <tr>
                        <td></td>
                         <td></td>
                       
                        <td><a href="mb6-add">Add new insurance</a></td>
                        
                    </tr>
                    
                </tbody>
            </table>-->
        
        
        
        <div class="grid-row2">
        </div>
        
       <!-- <div class="grid-row">
    <div class="column-two-thirds">
     <h2 class="heading-medium-home">Your medical insurance</h2>
    </div>
    <div class="column-third">
    <a href="mb4-add">Add new insurance</a>
    </div>
  </div>-->
        
    

    
     
        
        
        
           <table class="mb-sum borderless" id="cc-table">
                <thead>
                <!--    <tr>
                        <th scope="col">Provider</th>
                        <th scope="col">Medical benefit (£)</th>
                        <th scope="col">&nbsp;</th>
                    </tr>-->
                </thead>
                <tbody>
                    <tr>
                        <td>Costa</td>
                        
                         <td></td>
                       
                        <td><a href="mb6-update?employer=Costa">I've stopped getting this benefit</a></td>
                        
                    </tr>
                    <tr>
                        <td>Amount paid: </td>
                        
                        <td>£<span id="cc-amount">{{ccBen}}</span></td>
                        
                        
                        <td><a href="mb6-remove?employer=Costa">I’ve never had this benefit in this tax year</a></td>
                    </tr>
                    
                    
                      <tr>
                        <td></td>
                        <td></td>
                        <td><a href="mb6-remove-b?employer=Costa">I’ve never had this benefit</a></td>
                    </tr>
                    
                    <!-- <tr>
                        <td></td>
                        <td></td>
                        <td><a href="mb6-update-only?employer=Costa">Update this benefit</a></td>
                    </tr>-->
                    
                </tbody>
            </table>
        
        
       
        
        
      
        
        
        
      
        
        
         <!--    <div class="grid-row2">
        </div>
            
            
      
           <table class="mb-sum borderless" id="add-table">
                <thead>
               </thead>
               
               
                <tbody>
                    
                    
                    <tr>
                        <td>{{addedEmployer}}</td>
                        
                         <td></td>
                       
                        <td><a href="">I've stopped getting this benefit</a></td>
                        
                    </tr>
                    <tr>
                        <td>Amount paid: </td>
                        
                        <td>£<span id="add-amount">{{addedAmount}}</span></td>
                        
                        
                        <td><a href="">I’ve never had this benefit in this tax year</a></td>
                    </tr>
                    
                      <tr>
                        <td></td>
                        <td></td>
                        <td><a href="">I’ve never had this benefit</a></td>
                    </tr>
                    
                     <tr>
                        <td></td>
                        <td></td>
                        <td><a href="/">Update this benefit</a></td>
                    </tr>
                    
                    
                </tbody>
              
            </table> -->
        
        
        
        
        
             
             
             
        </div>  </div><!-- end inner block -->
    
    <div class="inner-block" id="no-bens">
    
        <header class="page-header group">
        
            <h1 class="heading-xlarge">Your medical insurance company <br>benefit for the tax year 6 April 2015 <br>to 5 April 2016</h1>
            
             <div class="column-two-thirds">
                 
            <p>You don’t have any medical insurance benefit currently showing on our records.</p>
           <div class="grid-row2">
        </div>
            <a class="button" href="/" class="cancel">Sign out</a>
        </header>
        </div> </div><!-- end inner block -->
</main>
{{/content}}
{{/layout}}