{{<layout}}
{{$pageTitle}}Your information has been submitted{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        <header class="page-header group">
            <div class="grid-row group">
                <div class="column-two-thirds">
                    <div class="done-box">
                        <h1 class="heading-large tick">Your information has been submitted and our records have been updated.</h1> 
                    </div>
                </div>
            </div>
        </header>
        <div class="grid-row group">
            <div class="column-two-thirds">
               <!-- <p class="">Your change has been submitted. Our records have been updated.</p>-->
               <!-- <hr class="border"> --> 
                <p>HM Revenue and Customs will write to you if your tax code has changed.</p>
                <a href="mb6-home-updated" class="">Check your private medical insurance company benefit</a>
            
                
                <!--<a class="cancel" href="/" class="cancel">Sign out</a>-->
                <br><br>
                <h3 class="heading-small">Your tax estimate</h3>
                <p>The <a href="">Check your Income Tax estimate service</a> shows how much Income Tax you may have to pay on your income.</p>
                
            </div>
        </div>
    </div>
</main> 
{{/content}}
{{/layout}}