{{<layout}}
{{$pageTitle}}Your medical insurance company benefit{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        
       
            
            
        <header class="page-header group">
            <h1 class="heading-xlarge2">Your medical insurance company benefit </h1>
            <h3 class="heading-medium-title">for the tax year 6 April 2015 to 5 April 2016</h3>
            
            
           
            <!--<h2 class="heading-medium">Your medical insurance</h2>-->
            
          
            <!--p>You currently receive these medical insurances.</p-->
        </header>
        
        <br>
     
         <div class="column-two-thirds">
             <div class="panel-indent">
                 <p>
                     If you still get a medical insurance benefit from your employer, but the amount they pay is wrong, you must contact HM Revenue and Customs.
                </p>
            </div>
             <br>

        
 <!--<table class="mb-sum borderless">
                                <tbody>
                    <tr>
                        <td></td>
                         <td></td>
                       
                        <td><a href="mb6-add">Add new insurance</a></td>
                        
                    </tr>
                    
                </tbody>
            </table>-->
       
        
        
      <!--  <h3 class="heading-small">Current employers</h3>-->
             
             
        <div class="grid-row2">
        </div>
        
         
         <!-- starbucks table -->
          <!-- <div class= "job"><table class="mb-sum borderless" id="sb-table">
                <thead>
                 <div class="grid-row2">
                                  </div>
                    
                     <h3 class="heading-medium-title2">Starbucks</h3>


              </thead>
                <tbody>
                    
                    <tr>
                        <td>Amount paid:</td>
                        <td>£<span id="sb-amount">5000</span></td>
                        <td><a href="mb6-remove?employer=Starbucks">I’ve never had this benefit in this tax year</a></td>
                    </tr>
                    
                       <tr>
                        <td></td>
                        <td></td>
                        <td><a href="mb6-remove-b?employer=Starbucks">I’ve never had this benefit</a></td>
                    </tr> 
                    
             <tr>
                        <td></td>
                        <td></td>
                        <td><a href="mb6-update-only?employer=Costa">Update this benefit</a></td>
                    </tr>
                    
                    
             </tbody>
            </table>
             
             
     </div>
    <br>-->
             
             
        
<div class="job">
            <table class="mb-sum borderless" id="cc-table">
                <thead>
             
                   
                    
                     <h3 class="heading-medium-title2">Costa</h3>
                    
                    
                </thead>
                <tbody>
                    <tr>
                       <td>Amount paid:</td>
                        <td>£<span id="cc-amount">600</span></td>
                       
                        <td><a href="mb6-update?employer=Costa">I've stopped getting this benefit</a></td>
                        
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><a href="mb6-remove?employer=Costa">I’ve never had this benefit in this tax year</a></td>
                    </tr>
                    
                       <tr>
                        <td></td>
                        <td></td>
                        <td><a href="mb6-remove-b?employer=Costa">I’ve never had this benefit</a></td>
                    </tr>
                    
              <!--   <tr>
                        <td></td>
                        <td></td>
                        <td><a href="mb6-update-only?employer=Costa">Update this benefit</a></td>
                    </tr>-->
                    
                    
                </tbody>
            </table>
             </div>
    
        
        
     
        <!--

  <table class="mb-sum borderless" id="add-table">
                <thead>
              <h3 class="heading-medium">{{addedEmployer}}</h3>
                   <div class="grid-row2">
             </div>
                </thead>
                <tbody>
                    <tr>
                       <td>Amount paid:</td>
                        <td>£<span id="add-amount">{{addedAmount}}</span></td>
                       
                        <td><a href="mb6-update?employer=Costa">I've stopped getting this benefit</a></td>
                        
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><a href="mb6-remove?employer=Costa">I’ve never had this benefit in this tax year</a></td>
                    </tr>
                    
                       <tr>
                        <td></td>
                        <td></td>
                        <td><a href="mb6-remove-b?employer=Costa">I’ve never had this benefit</a></td>
                    </tr>
                    
             <!--  <tr>
                        <td></td>
                        <td></td>
                        <td><a href="mb6-update-only?employer=Costa">Update this benefit</a></td>
                    </tr>-->
                    
                    
               <!-- </tbody>
            </table>-->
    
    
    
       
        
        
        
        
    
        </div>
    </div><!-- end inner block -->
</main>


{{/content}}
{{/layout}}