{{<layout}}
{{$pageTitle}}You’ve stopped getting this benefit{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
      
        <header class="page-header group">
            <h1 class="heading-xlarge">You stopped getting this <br>benefit on or after 6 April 2015</h1>
                
        </header>
        
         <div class="column-two-thirds">
             
        <div class="grid-row group">
            
            
      
                
                
  <div class="panel-indent">
    <p>
   If you stopped getting this company benefit on or after 6 April 2015, you may need to ask your employer how much they’d paid for it from 6 April 2015 until the date it stopped.
    </p>
  </div>

                
                
                <form id="mb-choice" method="GET" action="mb6-summary">
                    <div class="form-group">
                        <label class="form-label" for="update">Our records show that {{employer}} have given you private medical insurance benefit with a cash value
                            of £{{currentValue}} since 6 April 2015. <br/><br/>
                            
                            Is this amount correct?
                            
                           </label>
                        
                        <br/>
                        
                        
                        
                          <input type="hidden" name="Employer" value="{{employer}}">
            
            <fieldset class="questions">
                
                
                  <div id="paid1" class="form-group form-group-compound">
                        <fieldset class="inline">
                                <label class="block-label"  for="radio-indent9-1">Yes
                                <input id="radio-indent9-1" name="radio-indent-group9" value="yes" type="radio">
                                  
                                    </label>
                                <label class="block-label" for="radio-indent9-2">No
                                <input id="radio-indent9-2" name="radio-indent-group9" value="no" type="radio">
                                   
                                </label>
                      </fieldset>
   
                            </div>
                
                  
             </fieldset>
                   
                       <div class="panel-indent" id="paidnobox">
                           <p>Actual amount paid by {{employer}}</p>
                        <span class="form-hint">The amount you enter will be rounded down when used in any future tax calculations.</span>
                     <br>
                        <div class="pound">
                            <p>£</p>
                        </div>
                        
             
                        
                        <input class="form-control" id="update" name="update" type="text">
                    </div>
                        </div>
                    
                    
                    
                 
                        <input type="submit" value="Continue" class="button"/>
                    </div> 
                </form>
                <a class="cancel" href="mb6-home">Cancel – your changes will not be saved</a>
            </div>
        </div>
       </div><!-- end inner block -->
</main>
{{/content}}
{{/layout}}