{{<layout}}
{{$pageTitle}}Index{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        <header class="page-header group">
            <h1 class="heading-xlarge">You’ve never had this benefit this tax year</h1>
            
            
             
            <div class="panel-indent">
                <p>If your company benefit stopped before 6 April 2015, it’ll be removed from our records for the tax year 6 April 2015 to 5 April 2016. </p>
            </div>


            
        </header> 
        <div class="grid-row group">
           

            
              <p> This medical insurance benefit from {{employer}} stopped before 6 April 2015. </p>
            
            
        </div>  
            
        <!--confirm box   <label class="form-checkbox" for="checkbox-telephone-number">
    <input id="checkbox-telephone-number" value="checkbox-telephone-number" type="checkbox">
    I confirm that these changes are correct
  </label>-->
            
        <div class="next-question">
            <a href="/mb5/mb5-finish" class="button alertButton">Confirm and remove</a>
        </div>
        <a class="cancel" href="mb5-home-updated">Cancel – your changes will not be saved</a>
    </div>
</main>
{{/content}}
{{/layout}}