{{<layout}}
{{$pageTitle}}You’ve stopped getting this benefit{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
      
        <header class="page-header group">
            <h1 class="heading-xlarge">You’ve stopped getting this benefit</h1>
                
        </header>
        
         <div class="column-two-thirds">
             
        <div class="grid-row group">
            
            
      
                
                
  <div class="panel-indent">
    <p>
    If your company benefit stopped on or after 6 April 2015, you’ll need to ask your employer how much they’d paid from 6 April 2015 until the date it stopped.
    </p>
  </div>

                
                
                <form id="mb-choice" method="GET" action="mb6-summary">
                    <div class="form-group">
                        <label class="form-label" for="update">The amount of medical insurance benefit currently showing on our records for {{employer}} is £{{currentValue}}. <br/><br/>
                            
                            Confirm how much Costa paid from 6 April 2015 until the date it stopped.
                            
                            <span class="form-hint">The amount you enter will be rounded down to the nearest British pound to calculate any tax due.   </span></label>
                        
                        <br/>
                        
                        
                        
                        
                        <div class="pound">
                            <p>£</p>
                        </div>
                        <input class="form-control" id="update" name="update" type="text">
                    </div>
                  
                    
                    
                    <div>
                        <input type="submit" value="Next" class="button"/>
                    </div>
                </form>
                <a class="cancel" href="mb6-home-updated">Cancel – your changes will not be saved</a>
            </div>
        </div>
       </div><!-- end inner block -->
</main>
{{/content}}
{{/layout}}