{{<layout}}
{{$pageTitle}}This benefit has been removed{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        <header class="page-header group">
            <div class="grid-row group">
                <div class="column-two-thirds">
                    <div class="done-box">
                        <h1 class="heading-large tick">This benefit has been removed and our records have been updated.</h1> 
                    </div>
                </div>
            </div>
        </header>
     
        
        
        
         <div class="grid-row group">
            <div class="column-two-thirds">
               <!-- <p class="">Your change has been submitted. Our records have been updated.</p>-->
               <!-- <hr class="border"> --> <br>
               <p>HM Revenue and Customs will write to you if your tax code has changed.</p>              
                 <a href="mb6-home-updated" class="">View your medical insurance benefit</a>
            
                
                <!--<a class="cancel" href="/" class="cancel">Sign out</a>-->
                <br><br>
                <h3 class="heading-small">Your tax estimate</h3>
                <p>The <a href="">Check your Income Tax estimate service</a> shows how much Income Tax you may pay on your income. 
                    
            </div>
        </div>
        
        
    </div>
</main>
{{/content}}
{{/layout}}