{{<layout}}
{{$pageTitle}}Send your feedback{{/pageTitle}}
{{$content}}
<div class="outer-block">
    <div class="inner-block">
        <div class="hmrc-banner">
            <i class="hmrc-crest"></i> HM Revenue and Customs
        </div>
        <br><Br>
        <div class="grid-row">
        
                <main id="content" role="main">
                    <header class="page-header group">
                        <h1 class="heading-xlarge">You've signed out of your account</h1>
                        
                        
                        
                        
                    </header>
                    <div class="start-content">
                        <p>To use the service again you'll need to <a href="mb6-start.html">sign in</a>.</p> 
                        
                        <hr>
                        
                                                <h1 class="heading-large">Send your feedback</h1>
                        
                        
                        
                        <p>Please give us feedback to help us improve this service.</p>
                     
                        
                
        


                        
                        
                        
                        <h1 class="heading-medium">Verifying your identity</h1>
                        
                    
                        
                        <fieldset class="inline">
                        <legend>
                        <span class="form-label">How easy was it to register using GOV.UK Verify?  </span>
                        </legend>
    
                            <div class="form-group form-group-compound">
                            <label class="no-block-label"  for="radio-indent-1">Very<br>easy
                            <input id="radio-indent-1" name="radio-indent-group" value="Very easy" type="radio">
                               
                                </label>
                            <label class="no-block-label" for="radio-indent-2"><br>Easy 
                            <input id="radio-indent-2" name="radio-indent-group" value="Easy " type="radio">
                              
                            </label>
                                
                                 <label class="no-block-label" for="radio-indent-3"> <br>Neutral 
                            <input id="radio-indent-3" name="radio-indent-group" value="Neutral" type="radio">
                              
                            </label>
                                
                                 <label class="no-block-label" for="radio-indent-4"><Br>Difficult
                            <input id="radio-indent-4" name="radio-indent-group" value="Difficult" type="radio">
                               
                            </label>
                                
                                 <label class="no-block-label" for="radio-indent-5">Very<br>difficult
                            <input id="radio-indent-5" name="radio-indent-group" value="Very Difficult" type="radio">
                               
                            </label>
                                </div>
   
                        </fieldset>
                        
                        
                        
                        
                        
                        
                        
                        
                         <fieldset class="inline">
                        <legend>
                        <span class="form-label"> How secure did the registration process feel? </span>
                        </legend>
    
                           <div class="form-group form-group-compound">
                            <label class="no-block-label"  for="radio-indent2-1"> Very <br> secure
                            <input id="radio-indent2-1" name="radio-indent-group2" value="Very secure" type="radio">
                              
                                </label>
                            <label class="no-block-label" for="radio-indent2-2"><br>Secure
                            <input id="radio-indent2-2" name="radio-indent-group2" value="Secure" type="radio">
                               
                            </label>
                                
                                 <label class="no-block-label" for="radio-indent2-3"><br>Neutral
                            <input id="radio-indent2-3" name="radio-indent-group2" value="Neutral" type="radio">
                               
                            </label>
                                
                                 <label class="no-block-label" for="radio-indent2-4"><br>Insecure
                            <input id="radio-indent2-4" name="radio-indent-group2" value="Insecure" type="radio">
                               
                            </label>
                                
                                 <label class="no-block-label" for="radio-indent2-5">Very <br>insecure
                            <input id="radio-indent2-5" name="radio-indent-group2" value="ery Insecure" type="radio">
                               
                            </label>
                                </div>
   
                        </fieldset>
                        
                        
                        <fieldset class="inline">
                        <legend>
                        <span class="form-label"> How comfortable were you registering with a certified company? </span>
                        </legend>
    
                            <div class="form-group form-group-compound">
                            <label class="no-block-label" for="radio-indent3-1">Very <br>comfortable
                            <input id="radio-indent3-1" name="radio-indent-group3" value="1Very comfortable" type="radio">
                               
                                </label>
                            <label class="no-block-label" for="radio-indent3-2"><br>Comfortable
                            <input id="radio-indent3-2" name="radio-indent-group3" value="Comfortable" type="radio">
                               
                            </label>
                                
                                 <label class="no-block-label" for="radio-indent3-3"><br>Neutral
                            <input id="radio-indent3-3" name="radio-indent-group3" value="Neutral" type="radio">
                               
                            </label>
                                
                                 <label class="no-block-label" for="radio-indent3-4"><br>Uncomfortable
                            <input id="radio-indent3-4" name="radio-indent-group3" value="Uncomfortable" type="radio">
                               
                            </label>
                                
                                 <label class="no-block-label" for="radio-indent3-5">Very <br>uncomfortable
                            <input id="radio-indent3-5" name="radio-indent-group3" value="Very uncomfortable" type="radio">
                                
                            </label>
                                </div>
   
                        </fieldset>
                        
                        
                        
                        
                        
                         <h1 class="heading-medium">Using the service</h1>
                        
                    
                        
                        <fieldset class="inline">
                        <legend>
                        <span class="form-label"> How easy was the service to use? </span>
                        </legend>
    
                            <div class="form-group form-group-compound">
                            <label class="no-block-label"  for="radio-indent4-1">Very <br>easy
                            <input id="radio-indent4-1" name="radio-indent-group4" value="1" type="radio">
                               
                                </label>
                            <label class="no-block-label" for="radio-indent4-2"><br>Easy 
                            <input id="radio-indent4-2" name="radio-indent-group4" value="2" type="radio">
                               
                            </label>
                                
                                 <label class="no-block-label" for="radio-indent4-3"><br>Neutral 
                            <input id="radio-indent4-3" name="radio-indent-group4" value="3" type="radio">
                               
                            </label>
                                
                                 <label class="no-block-label" for="radio-indent4-4"><br>Difficult
                            <input id="radio-indent4-4" name="radio-indent-group4" value="4" type="radio">
                               
                            </label>
                                
                                 <label class="no-block-label" for="radio-indent4-5"><br>Very difficult
                            <input id="radio-indent4-5" name="radio-indent-group4" value="5" type="radio">
                               
                            </label>
                                </div>
   
                        </fieldset>
                        
                        
                        
                            <fieldset class="inline">
                        <legend>
                        <span class="form-label"> Would you do it online next time? </span>
                        </legend>
    
                            <div class="form-group form-group-compound">
                            <label class="no-block-label"   for="radio-indent5-1">Very<br>likely 
                            <input id="radio-indent5-1" name="radio-indent-group5" value="1" type="radio">
                              
                                </label>
                            <label class="no-block-label" for="radio-indent5-2"><br>Likely
                            <input id="radio-indent5-2" name="radio-indent-group5" value="2" type="radio">
                                
                            </label>
                                
                                 <label class="no-block-label" for="radio-indent5-3"><br>Neutral
                            <input id="radio-indent5-3" name="radio-indent-group5" value="3" type="radio">
                                
                            </label>
                                
                                 <label class="no-block-label" for="radio-indent5-4"><br>Unlikely
                            <input id="radio-indent5-4" name="radio-indent-group5" value="4" type="radio">
                              
                            </label>
                                
                                 <label class="no-block-label" for="radio-indent5-5">Very<br>unlikely
                            <input id="radio-indent5-5" name="radio-indent-group5" value="5" type="radio">
                              
                            </label>
                                </div>
   
                        </fieldset>
                        
                        
                        
                        
                         <fieldset class="inline">
                        <legend>
                        <span class="form-label"> Overall, how satisfied were you with the service? </span>
                        </legend>
    
                            <div class="form-group form-group-compound">
                            <label class="no-block-label"   for="radio-indent6-1">Very<br>satisfied
                            <input id="radio-indent6-1" name="radio-indent-group6" value="1" type="radio">
                              
                                </label>
                            <label class="no-block-label" for="radio-indent6-2"><br>Satisfied
                            <input id="radio-indent6-2" name="radio-indent-group6" value="2" type="radio">
                               
                            </label>
                                
                                 <label class="no-block-label" for="radio-indent6-3"><br>Neutral
                            <input id="radio-indent6-3" name="radio-indent-group6" value="3" type="radio">
                              
                            </label>
                                
                                 <label class="no-block-label" for="radio-indent6-4"><br>Dissatisfied
                            <input id="radio-indent6-4" name="radio-indent-group6" value="4" type="radio">
                              
                            </label>
                                
                                 <label class="no-block-label" for="radio-indent6-5">Very<br>dissatisfied
                            <input id="radio-indent6-5" name="radio-indent-group6" value="5" type="radio">
                              
                            </label>
                                </div>
   
                        </fieldset>
                        
                        
                        
                        <fieldset class="inline">
                        <legend>
                        <span class="form-label">Would you recommend the service to friends or family? </span>
                        </legend>
    
                            <div class="form-group form-group-compound">
                            <label class="no-block-label"  for="radio-indent7-1"><br>Yes
                            <input id="radio-indent7-1" name="radio-indent-group7" value="1" type="radio">
                             
                                </label>
                            <label class="no-block-label" for="radio-indent7-2"><br>No
                            <input id="radio-indent7-2" name="radio-indent-group7" value="2" type="radio">
                              
                            </label>
                                
                                </div>
   
                        </fieldset>
                        
                        
                        
                        
                          <fieldset class="inline">
                        <legend>
                        <span class="form-label">How sure are you that you’ve used the service properly? </span>
                        </legend>
    
                            <div class="form-group form-group-compound">
                            <label class="no-block-label"  for="radio-indent8-1">Very<br>sure
                            <input id="radio-indent8-1" name="radio-indent-group8" value="1" type="radio">
                             
                                </label>
                            <label class="no-block-label" for="radio-indent8-2"><br>Sure
                            <input id="radio-indent8-2" name="radio-indent-group8" value="2" type="radio">
                              
                            </label>
                                
                                 <label class="no-block-label" for="radio-indent8-3"><br>Neutral
                            <input id="radio-indent8-3" name="radio-indent-group8" value="2" type="radio">
                             
                            </label>
                                
                                 <label class="no-block-label" for="radio-indent8-4">Slightly<br>Unsure
                            <input id="radio-indent8-4" name="radio-indent-group8" value="2" type="radio">
                              
                            </label>
                                
                                 <label class="no-block-label" for="radio-indent8-5">Very<br>unsure
                            <input id="radio-indent8-5" name="radio-indent-group8" value="2" type="radio">
                             
                            </label>
                                
                                </div>
   
                        </fieldset>
                        
                        
                        
                        <!-- testing enviro -
                        
                        
                        
            
   <p>You get email notifications for Self Assessment.</p>
            <p>Do you want to get email notifications for personal taxes, benefits and credits?</p>
             <p>You will be able to manage your preferences inside your account.</p>
            <div class="group">
                <form id="v7-get-paye">
                    <fieldset class="inline">
                        <label class="no-block-label" for="yes">
                        <input id="yes" type="radio" name="radio-inline-group" value="Yes">
                            Yes
                        </label>
                        <label class="no-block-label" for="no">
                        <input id="no" type="radio" name="radio-inline-group" value="No">
                            No
                        </label>
                    </fieldset>
                </form> 
                
                
               <div id="sa-terms-yes">
                 <fieldset class="panel-indent tandc-indent" id="yes-radio" data-toggle-value="yes">
                                        <div class="form-group-checkbox">
                                            <div id="tandcs">
                                                 <h4 class="heading-small-sa-terms">Terms and conditions</h4>
                    
    <p>     Email notifications have the same legal validity as an HMRC reminder sent in the post.
    </p>
                    
                     <p>     Keep your email address up to date to make sure you get your notifications.
    </p>
                                            </div>
                                            
                                              
                                            
                                            
                                        </div>
                                    </fieldset>
                
                <div class="important">
                  By continuing, you confirm that you agree to the terms and conditions.

                
                
                   </div></div>
                
                
                
            </div>
           
                        
                        
     
     
                                    
                        
                        end of testing enviro-->
     
     
                         <fieldset class="inline">
                            <legend>
                            <span class="form-label">Were you able to do what you wanted using the service? </span>
                            </legend>

                            <div id="help1" class="form-group form-group-compound">
                                <label class="no-block-label"  for="radio-indent9-1"><br>Yes
                                <input id="radio-indent9-1" name="radio-indent-group9" value="yes" type="radio">
                                  
                                    </label>
                                <label class="no-block-label" for="radio-indent9-2"><br>No
                                <input id="radio-indent9-2" name="radio-indent-group9" value="no" type="radio">
                                   
                                </label>

   
                            </div>

                         </fieldset>
                        
                        
                        
                        <!--SHOW IF USER SELECTS NO -->
                        
                        
                        
             <div class="panel-indent" id="checknobox">
                        <p>Please tell us what you wanted to do but couldn't.</p>
                        
                     <textarea rows="4" cols="50"> </textarea>  </div>
                        
                        
                         <h1 class="heading-medium">Your comments</h1>
                        
                        
                           <fieldset class="inline">
                        <legend>
                        <span class="form-label"> Do you need to speak to HM Revenue and Customs (HMRC) about what you’ve just done? </span>
                        </legend>
    
                            <div id="help2" class="form-group form-group-compound">
                            <label class="no-block-label"  for="radio-indent10-1"><br>Yes
                            <input id="radio-indent10-1" name="radio-indent-group10" value="yes" type="radio">
                              
                                </label>
                            <label class="no-block-label" for="radio-indent10-2"><br>No
                            <input id="radio-indent10-2" name="radio-indent-group10" value="no" type="radio">
                               
                            </label>
                                
                               <label class="no-block-label" for="radio-indent10-3">Don't<br>know
                            <input id="radio-indent10-3" name="radio-indent-group10" value="Don't know" type="radio">
                               
                            </label>
                                                        
                                 
                                </div>
   
                             </fieldset>
                        
                   <!-- if selects yes then show below-->
                        
                        
                       
                        
                        
                
                     <div class="panel-indent" id="checkyesbox">
                         <p>Please tell us why you still need to speak to HMRC. </p>
                             
                             
                     
                         <textarea rows="4" cols="50"> </textarea> 
                         <br><br>
                         
                         <p>This feedback will be used to improve the service, but we’re unable to reply to the information 
                            <br>you’ve given here. For general enquiries about Income Tax <a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/income-tax-enquiries-for-individuals-pensioners-and-employees" target="_blank" >contact HMRC</a>.</p>
                         
                         </div>
                                          
                        
                        
                        
                        
                                  
                
              </div>
                        
                
                        
                
                
                  <fieldset class="inline">
                        <legend>
                        <span class="form-label">How could we improve the service? </span>
                        </legend>
                    
                             </fieldset>
                
                <textarea rows="4" cols="50"> </textarea>
                    
                   
                
               <br/> <br/>
                    
              
                    
                    
                    <a href="mb6-start.html" class="button">Send</a>
                
                </main>
        
                                    

        </div><!-- grid row -->
    </div><!-- inner block -->
</div><!-- outer block -->
{{/content}}
{{/layout}}