{{<layout}}
{{$pageTitle}}Index{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        <header class="page-header group">
            <h1 class="heading-xlarge">Remove medical insurance<br>provided by {{employer}}</h1>
            <p>Confirm that you want to remove this medical insurance.</p>
            
             
            
        </header> 
        <div class="grid-row group">
            <div class="column-two-thirds">
                <div class="important first-important">
                    Changes made apply only for the tax year to 5 April 2016. From 6 April 2016 you will have no medical insurance recorded. You must tell us if you have it in the tax year from 6 April 2016. 
                </div>
            </div>
        </div>  
            
        <!--confirm box   <label class="form-checkbox" for="checkbox-telephone-number">
    <input id="checkbox-telephone-number" value="checkbox-telephone-number" type="checkbox">
    I confirm that these changes are correct
  </label>-->
            
        <div class="next-question">
            <a href="/mb5/mb5-finish" class="button alertButton">Remove this insurance</a>
        </div>
        <a class="cancel" href="mb5-home-updated">Cancel – your changes will not be saved</a>
    </div>
</main>
{{/content}}
{{/layout}}