{{<layout}}
{{$pageTitle}}Your medical insurance company benefit{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block" id="my-bens">
        <header class="page-header group">
            <h1 class="heading-xlarge">Your medical insurance company benefit <br>for the tax year 6 April 2015 to 5 April 2016</h1>
           
            
            
           
            <!--<h2 class="heading-medium">Your medical insurance</h2>


 </header>-->
            
            

      
            <!--p>You currently receive these medical insurances.</p-->
        </header>
        
     <!--     <table class="mb-sum borderless">
                                <tbody>
                    <tr>
                        <td></td>
                         <td></td>
                       
                        <td><a href="mb5-add">Add new insurance</a></td>
                        
                    </tr>
                    
                </tbody>
            </table>-->
        
        
        
        <hr>
        
       <!-- <div class="grid-row">
    <div class="column-two-thirds">
     <h2 class="heading-medium-home">Your medical insurance</h2>
    </div>
    <div class="column-third">
    <a href="mb4-add">Add new insurance</a>
    </div>
  </div>-->
        
    

    
       <!-- <div class="grid-row group" id="sb-table">
            <div class="column-two-thirds bd-top">
                <h3 class="heading-small">Starbucks</h3>
                <table>
                    <tbody>
                        <tr>
                            <td>Amount paid by this employer</td>
                            <td>£<span id="sb-amount">{{sbBen}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="column-third bd-top">
                <h3 class="heading-small">Manage this insurance</h3>
                <ul>-->
               <!-- <li><a href="mb4-update-only?employer=Starbucks">Update this insurance</a></li>-->
                   <!-- <li><a href="mb5-update?employer=Starbucks">Tell us that this medical insurance has ended</a></li>
                    <li><a href="mb5-remove?employer=Starbucks">Remove this insurance</a></li>
                </ul>
            </div>
        </div>  -->
        
        
        
           <table class="mb-sum borderless" id="cc-table">
                <thead>
                <!--    <tr>
                        <th scope="col">Provider</th>
                        <th scope="col">Medical benefit (£)</th>
                        <th scope="col">&nbsp;</th>
                    </tr>-->
                </thead>
                <tbody>
                    <tr>
                        <td>Costa</td>
                        
                         <td></td>
                       
                        <td><a href="mb5-update?employer=Costa">I've stopped getting this benefit</a></td>
                        
                    </tr>
                    <tr>
                        <td>Amount paid: </td>
                        
                        <td>£<span id="cc-amount">{{ccBen}}</span></td>
                        
                        
                        <td><a href="mb5-remove?employer=Costa">I’ve never had this benefit in this tax year</a></td>
                    </tr>
                    
                    
                      <tr>
                        <td></td>
                        <td></td>
                        <td><a href="mb5-remove-b?employer=Costa">I’ve never had this benefit</a></td>
                    </tr>
                    
                   <!--  <tr>
                        <td></td>
                        <td></td>
                        <td><a href="mb5-update-only?employer=Costa">Update this benefit</a></td>
                    </tr>-->
                    
                    
                </tbody>
            </table>
        
        
        <hr>
        
        
        <!--
        
        <div class="grid-row group" id="cc-table">
            <div class="column-two-thirds bd-top">
                <h3 class="heading-small">Costa</h3>
                <table>
                    <tbody>
                        <tr>
                            <td>Amount paid by this employer</td>
                            <td>£<span id="cc-amount">{{ccBen}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="column-third bd-top">
                <h3 class="heading-small">Manage this insurance</h3>
                <ul>-->
                  <!-- <li><a href="mb4-update-only?employer=Costa">Update this insurance</a></li>-->
                   <!-- <li><a href="mb5-update?employer=Costa">Tell us that this medical insurance has ended</a></li>
                    <li><a href="mb5-remove?employer=Costa">Remove this insurance</a></li>
                </ul>
            </div>
        </div>-->
        
        
        
       <!--  <div class="grid-row group" id="add-table">
            <div class="column-two-thirds bd-top">
                <h3 class="heading-small">{{addedEmployer}}</h3>
                <table>
                    <tbody>
                        <tr>
                            <td>Amount paid by this employer</td>
                            <td>£<span id="add-amount">{{addedAmount}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="column-third bd-top">
                <h3 class="heading-small">Manage this insurance</h3>
                <ul>
                   <li><a href="">Update this insurance</a></li>
                    <li><a href="">Tell us that this medical insurance has ended</a></li>
                    <li><a href="">Remove this insurance</a></li>
                </ul>
            </div>
        </div>-->
        
        
      
     <!--      <table class="mb-sum borderless" id="add-table">
                <thead>
               </thead>
                <tbody>
                    <tr>
                        <td>{{addedEmployer}}</td>
                        
                         <td></td>
                       
                        <td><a href="">I've stopped getting this benefit</a></td>
                        
                    </tr>
                    <tr>
                        <td>Amount paid: </td>
                        
                        <td>£<span id="add-amount">{{addedAmount}}</span></td>
                        
                        
                        <td><a href="">I’ve never had this benefit in this tax year</a></td>
                    </tr>
                    
                      <tr>
                        <td></td>
                        <td></td>
                        <td><a href="">I’ve never had this benefit</a></td>
                    </tr>
                    
                     <tr>
                        <td></td>
                        <td></td>
                        <td><a href="/">Update this benefit</a></td>
                    </tr>
                    
                    
                </tbody>
              
            </table>-->
        
        
        
        
        
             
             
             
    </div><!-- end inner block -->
    
    <div class="inner-block" id="no-bens">
        <header class="page-header group">
            <h1 class="heading-xlarge">Your medical insurance company benefit for the tax year 6 April 2015 to 5 April 2016</h1>
            <p>You don’t have any medical insurance benefit currently showing on our records.</p>
            <hr>
            <a class="button" href="/" class="cancel">Sign out</a>
        </header>
    </div><!-- end inner block -->
</main>
{{/content}}
{{/layout}}