// Import elements
@import 'elements';

// Set up main content
#content {
  @include outer-block;
  padding-bottom: 120px;
}

.inner-block {
  @include inner-block;
}

// Your styles here
#email-block {
    width: $two-thirds;
	h2 {
	/*border-top: 5px solid $link-colour;
    padding-top: 20px;*/
	}
}
.service-info__help {
    float: right;
    width: 50%;
    margin-top: 15px;
}
.hmrc-banner {
    border-left: 2px solid #009390;
    width: 45%;
    float: left;
    font-family: Helvetica, Arial;
    font-size: 19px;
    font-weight: 400;
    line-height: 25px;
    margin: 15px 0;
    padding: 3px 0 2px 8px;
    text-decoration: none;
    text-transform: none;
}
.hmrc-crest {
    height: 28px;
    width: 28px;
    display: inline-block;
    background: url('../images/icons/crests/hmrc_crest_18px.png') no-repeat;
    vertical-align: middle;
    }.hmrc-crest {
    height: 28px;
    width: 28px;
    display: inline-block;
    background: url('../images/icons/crests/hmrc_crest_18px.png') no-repeat;
    vertical-align: middle;
}
.service-info__help p {
    font-family: nta, Arial, sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 300;
    text-transform: none;
    color: #6f777b;
    text-align: right;
}
.secondary-text {
    color: #6f777b;
}
.font-xsmall {
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 300;
    text-transform: none;
}
.form-control,
#email {
    width: 50%;
}
.inner {
    width: $two-thirds;
}
.destination {
    margin-top: -8px;
}
.page-content {
    h2 {
        margin-top :0;
        margin-bottom: 30px;
    }
}
.alert-panel {
    padding: 20px 20px 20px 60px;
    margin-bottom: 40px;
    font-weight: bold;
    border-left: 5px solid #bfc1c3;
    background: #f8f8f8 url('/public/images/icons/icon-information.png') no-repeat 13px center;
    clear :both;
}
.details-summary,
.expense-summary {
    tr td {
        width: 20%;
        &:last-child {
            text-align: right;
            width: 20%;
        }
    }
}
hr {
    margin: 30px 0;
}
.column-two-thirds {
    float: left;
    width: $two-thirds;
}
.column-third {
    float: right;
    width: 30%;
}
.related {
    border-top: 10px solid #005ea5;
    padding-top: 5px;
    margin-top: 32px;
    h2 {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
.heading-xlarge {
    margin-bottom :40px;
}

#test {
    margin-bottom :15px;
}
.highlighted-event {
    background-color: #28a197;
    color: #fff;
    text-align: center;
    margin: 15px 0 0 0;
    padding: 1.75em 0.75em 1.25em 0.75em;
}
details summary {
    display: inline-block;
    color: #005ea5;
    cursor: pointer;
    position: relative;
    margin-bottom: 0.26316em;
}
.declaration {
    .alert-panel {
        margin-bottom: 30px;
        padding: 15px 0 15px 50px;
        background: #fff url('/public/images/icons/icon-important.png') no-repeat;
        background-position: 0 center;
        border-left: none;
        p {
            &:last-child {
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }
    }
    .block-label {
        margin-bottom: 30px;
    }
}
//form
form.long-list {
    .block-label {
        width: 70%;
        border: 2px solid #fff;
        border-bottom: 2px solid black;
        background-color: #fff;
        /*padding: 18px 30px 15px 15px;
        input {
            display: none;
        }
        */
        &:hover {
        border: 2px solid #fff;
            border-bottom: 2px solid black;
        }
        &.selected {
            border: 2px solid black;
            background: $highlight-colour;
            &:hover {
                border: 2px solid black;
            }
        }
    }
}
.form-group {
    margin-bottom: 30px;
}
//dropdown
.dropdown {
    input[type=text] {
        float: left;
        width: 75%;
        margin-bottom :20px;
        padding :3px;
    }
    .li.ui-menu-item {
        color: red;
    }
    #drop-submit {
        float: left;
        clear: left;
    }
}
.ui-autocomplete {
    background-color: white;
    width: 25%;
}
.ui-menu-item {
    cursor: pointer;
    border: 2px solid #fff;
    padding: 5px;
    &:hover {
        color: #fff;
        background: $link-colour;
    }
}

/*#proposition-name {
    display: none;
}

*/


#proposition-links {
    float: right;
    li a {
        text-decoration: underline;
    }
}
#global-header .header-proposition #proposition-links a {
    text-decoration: underline;
}
.error-block {
    border-left-color: $red;
    display:  none;
    margin-bottom: 30px;
}
.error-block.displayBlock {
    display: block;
}
.ind-help {
    clear: both;
}
.ind-choice {
    margin-top: -20px;
    margin-bottom: 30px;
    display: none;
}

/*mb's*/
.mb-sum {
     -webkit-flex: 1;
    td {
    }
    td:last-child {
        text-align: right;
        padding-right: 0;
    }
}
#dob {
    .heading-medium,
    .form-hint {
        margin-bottom: 15px;
    }
    .form-group {
        width: 18%;
        float: left;
        clear:none;
        .form-control {
            width: 65%;
        }
    }
}
/* med ben v2 */
.bd-top {
    border-top: 5px solid $link-colour;
    margin-top: 15px;
    margin-bottom: 15px;
    tr td:first-child {
        font-weight :bold;
    }
    table {
        border-top: 1px solid #bfc1c3;
        margin-top :17px;
        margin-bottom: 30px;
        td {
            width :33%;
        }
    }
    ul {
        margin-top: 15px;
    }
}
.panel-indent {
    margin-bottom: 30px;
}
a.cancel {
    margin-top: 15px;
    display: block;
}
#no-bens {
    display: none;
}

#sb-end-bens {
    display: none;
}

#cc-end-bens {
    display: none;
}

.pound {
    float: left;
    margin-right :15px;
}
#update {
    float: left;
}
.important {
    margin-bottom: 15px;
    margin-top :30px;
    font-weight: bold;
    padding: 0 0 0 50px;
    background: #fff url('/public/images/icons/icon-important.png') no-repeat;
    background-position: 0 top;
    border-left: none;
    clear: both;
    &.first-important {
        margin-top :15px;
        margin-bottom :30px;
    }
}
.done-box {
    background-color: #26A197;
    padding :60px 30px;
    margin: 15px 0;
    .heading-large {
        color: #fff;
        text-align: center;
        padding: 0;
        margin :0;
    }
}
.border {
    margin: 15px 0 30px 0;
}

/*.tick {
    background: url('/public/images/tick.png') no-

repeat;
    padding-left: 20px;
}*/

h2.heading-medium-home {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25; 
    padding-bottom: 20px;

}

h3.heading-medium-title {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25; 
    padding-top: -15px;
    display:block;

}

.heading-xlarge2 {
    margin-bottom :0px;
    font-family: "nta",Arial,sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.04167;
    text-transform: none;
    margin-top: 0.625em;
    
}




/* display no dropdown box as default */
.box1 {
    
    display: none;
}


.box2 {
    
    display: none;
}


/* styling that formats date boxes */





.form-date .form-group {
    clear: none;
    float: left;
    margin-bottom: 0;
    margin-right: 20px;
    width: 56px;
}

.form-field, .form-field--inline {
    float: left;
    margin-bottom: 0.75em;
    margin-top: 0;
    width: 100%;
}



details .summary {
    text-decoration: underline;
}
 


.grid-row2 {
    clear: both;
        border-top: 5px solid #005ea5;
    margin-bottom: 15px;
    margin-top: -5px;

    

}


/* med ben v5 */
.bd-top2 {
  /* border-top: 5px solid #005ea5; */
  margin-top: 15px;
  margin-bottom: 15px; }
 /* .bd-top2 tr td:first-child {
    font-weight: bold; }*/
  .bd-top2 table {
    border-top: 1px solid #fff;
       border-bottom: 1px solid #fff;
    margin-top: 17px;
    margin-bottom: 30px; }
    .bd-top2 table td {
      width: 33%; }
  .bd-top2 ul {
    margin-top: 15px; }


table.norule2 td {
    border-bottom: 1px solid #fff;
    font-size: 16px;
}


table.borderless1 th, table.borderless1 td {
    font-size: 16px;
    border-bottom: 0px solid #bfc1c3;

   
}



table.borderless th, table.borderless td {
    font-size: 16px;
    border-bottom: 0px solid #bfc1c3;
    padding: 10px 100px 5px 0;
   
}


   

.mb-sum.borderless td:last-child {
        text-align: left;
}


/*table.borderless td:first-child {
    font-weight: bold; 
    
   
  }*/


h3.heading-medium-title2 {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.25; 
    padding-top: -10px;
    padding-bottom: 5px;
    display:block;
   

}

.job {
    padding-bottom: 25px;
    border-bottom: 2px solid #dee0e2;
}

.job-wrapper {
   padding-bottom: 120px;
    border-bottom: 2px solid #dee0e2;
}


.dash-nav {
    
    text-align: left;
    font-size: 16px; 
    float: right; 
  
    
}




.nav-styling{
    
    padding-bottom: 15px;
  
    
}


.nav-styling2{
    
    padding-bottom: 15px;
  padding-right: 26px;
    
}




.dash-info {
    
    font-size: 16px;
    width: 370px;
    padding-top:10px;
    padding-bottom: 10px;
    float: left;
}




.no-block-label{
    float: left;
    margin-bottom: 0.75em;
    text-align: center;
    width: 5.8em;
    word-spacing: 5.8em;
    margin-top: 20px;
    padding-right: 25px;
    padding-left: 15px;
}


label {
    display: block;
    font-family: nta,Arial,sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.31579;
    text-transform: none;
}


fieldset.questions {
    clear: none;
    float: left;
    width: 100%;
    margin-bottom: 20px;
   
    
}



.numbers {
    list-style-type: none;
  
    padding-left: 0;
    float:left;
}






.car-qs {
   
    margin-left: 20px;
    margin-top: -30px;
    padding-left: 15px;
    padding-bottom:25px;
    width: 100%;
    float: left;
    clear: none;
}



table.car-table th, table.car-table td {
  font-size: 16px; 
}



table.car-table  {
  font-size: 16px;
   border-bottom: 3px solid #a1acb2;
    margin-bottom: 30px;}



.content__body.width-3-4 {
    width: 75%;
}


.highlighted-event .confirmation::before {
    background-image: url("../images/tick.png");
    background-size: 100% auto;
    content: " ";
    display: inline-block;
    height: 0.74em;
    margin-right: 0.33em;
    width: 1em;
}
.highlighted-event h2 {
    color: white;
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
}


.highlighted-event #new-tax-code {
    font-size: 31px;
    font-weight: 700;
    margin-bottom: 2px;
}


.spacing-bottom {
    margin-bottom: 28px;
}
.spacing-top {
    margin-top: 28px;
}
.highlighted-event {
    margin: 0;
    padding: 1.45em;
}
.highlight-answer, .highlighted-event {
    background-color: #28a197;
    color: #fff;
    padding-top:40px;
    padding-bottom: 40px;
    margin-bottom: 20px;
   
    text-align: center;
}



.spacing-bottom-smaller {
    margin-bottom: 10px;
}
.spacing-top-smaller {
    margin-top: 10px;
}

.grey--bottom {
    border-bottom: 1px solid #bfc1c3;
}


.form-date {
    display: inline-block;
    width: 100%;
}



#global-breadcrumb {
    background-color: #fff;
    border-top: 2px solid #eee;
    margin: 0 auto;
    max-width: 1020px;
    z-index: 50;
}




.group::before, .group::after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
}
.group::after {
    clear: both;
}
.group::before, .group::after {
    content: " ";
    display: block;
    height: 0;
    overflow: hidden;
}
#global-breadcrumb ol {
    margin: 0;
    max-width: 960px;
    padding: 0.75em 0 0.55em;
}
.group {
}
ul, ol {
    list-style-type: none;
}
menu, ol, ul {
    margin-bottom: 20px;
    margin-top: 5px;
    padding: 0;
}




#global-breadcrumb ol li {
    background-image: url("https://assets.digital.cabinet-office.gov.uk/static/separator-73822610794bc3a64871f144d93d6526.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    float: left;
    font-family: "nta",Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
    list-style: outside none none;
    margin-bottom: 0.4em;
    margin-left: 0;
    margin-right: 0.5em;
    padding-right: 1em;
    text-transform: none;
}
ul li, ol li {
    margin-bottom: 5px;
}

.phase-banner-beta {
    padding-bottom: 10px;
}
.phase-banner-beta {
    border-bottom: 1px solid #bfc1c3;
    padding: 10px 0 0px;
}



.phase-banner-beta .phase-tag {
    font-size: 16px;
    line-height: 1.25;
}
.phase-banner-beta .phase-tag {
    vertical-align: baseline;
}
.phase-banner-beta .phase-tag {
    background-color: #f47738;
    color: #fff;
    display: inline-block;
    font-family: "nta",Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.14286;
    margin: 0 8px 0 0;
    padding: 2px 5px 0;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: top;
}


