{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        <div class="inner">
            <header class="page-header group">
                    <h1 class="heading-xlarge">Remove Medical Benefit</h1>
            </header> 
            <h2 class="heading-large">Summary</h2>
            <div>
                <h2 class="heading-small">Your details</h2>
                <table class="details-summary">
                    <tbody>
                        <tr>
                            <td scope="col">Employer name</td>
                            <td scope="col">[employer name]</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Medical benefit (£)</td>
                            <td>200</td>
                            <td><a href="/mb/employment.html">Change this</a></td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </div>
            </div><!-- end inner -->
                <div class="next-question">
                    <a href="/mb/mb-end.html" class="button alertButton">Remove this benefit</a>
                </div>
                <a href="/mb/employment.html">Back - no changes will be made</a>
            </div><!-- end declaration -->
    </div><!-- end inner block -->
</main>
{{/content}}
{{/layout}}
