{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        <div class="inner"-->
            <header class="page-header group">
                <h1 class="heading-xlarge">Your medical benefits</h1>
            </header>
            <p>You currently receive these medical benefits.</p>
            <table class="mb-sum">
                <thead>
                    <tr>
                        <th scope="col">Type of income</th>
                        <th scope="col">Medical benefit (£)</th>
                        <th scope="col">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Employment name</td>
                        <td>200</td>
                        <td><a href="/mb/mb-question.html">Update this amount or remove this benefit</a></td>
                    </tr>
                    <tr>
                        <td>Pension name</td>
                        <td>100</td>
                        <td><a href="/mb/mb-question.html">Update this amount or remove this benefit</a></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div class="group">
                <a href="/">Sign out</a>
            </div>
        </div><!-- end inner -->
    </div><!-- end inner block -->
</main>
{{/content}}
{{/layout}}