{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        <!--div class="inner"-->
            <header class="page-header group">
                <div>
                    <h1 class="heading-xlarge">Your medical benefits</h1>
                </div>
            </header>
            <h2 class="heading-medium">Current benefits</h2>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Type of income</th>
                            <th scope="col">Medical benefit (£)</th>
                            <th scope="col">&nbsp;</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>[employer’s name]</td>
                            <td>200</td>
                            <td><a href="/mb/remove.html">Remove this benefit</a></td>
                            <td><a href="/mb/update.html">Update this benefit</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <br>
        <hr>
                <h2 class="heading-medium">Previously removed benefits</h2>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Type of income</th>
                            <th scope="col">Amount (£)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Pension</td>
                            <td>100</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        <!--/div><!-- end inner -->
    </div><!-- end inner block -->
</main>
{{/content}}
{{/layout}}