{{<layout}}
{{$pageTitle}}Index{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        <div class="inner">
            <header class="page-header group">
                <h1 class="heading-xlarge">Review and confirm</h1>
                <p>Check the details you’ve entered are correct.</p>
            </header> 
            <div>
                <h2 class="heading-small">6 April 2015 to 5 April 2016</h2>
                <h2 class="heading-small">Benefit details</h2>
                <table class="mb-sum">
                    <thead>
                        <tr>
                            <th scope="col">Provider</th>
                            <th scope="col">New amount (£)</th>
                            <!--th scope="col">Date ended</th-->
                            <th scope="col">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>[employer’s name]</td>
                            <td>{{medBen}}</td>
                            <!--td>8 January 2015</td-->
                            <td><a href="/mb/mb-question5.html">Change the amount</a></td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </div>
            </div><!-- end inner -->
                <div class="next-question">
                    <a href="/mb/remove-done.html" class="button alertButton">Submit</a>
                </div>
                <a href="/mb/mb-summary.html">Cancel – your changes will not be saved</a>
            </div><!-- end declaration -->
    </div><!-- end inner block -->
</main>
{{/content}}
{{/layout}}
