{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        <!--div class="inner"-->
            <header class="page-header group">
                    <h1 class="heading-xlarge">Remove a Medical Benefit</h1>
            </header> 
            <h2 class="heading-large">Summary</h2>
            <div>
                <h2 class="heading-small">Benefit details</h2>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Type of income</th>
                            <th scope="col">Medical benefit (£)</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Employment name</td>
                            <td>200</td>
                            <td><a href="/mb/mybens.html">Change this</a></td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </div>
            <!--/div><!-- end inner -->
                <div class="next-question">
                    <a href="/mb/remove-done.html" class="button alertButton">Remove this benefit</a>
                </div>
                <a href="/mb/employment.html">Back - no changes will be made</a>
            </div><!-- end declaration -->
    </div><!-- end inner block -->
</main>
{{/content}}
{{/layout}}
