{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        <!--div class="inner"-->
            <header class="page-header group">
                    <h1 class="heading-xlarge">Remove or update Medical Benefit</h1>
            </header> 
            <div>
                <h2 class="heading-small">Benefit details</h2>
                <table class="details-summary">
                    <thead>
                        <tr>
                            <th scope="col">Income sources</th>
                            <th scope="col">Medical benefit (£)</th>
                            <th scope="col">New amount</th>
                            <th scope="col">Remove benefit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Employment - [employer name]</td>
                            <td>200</td>
                            <td>[ ]</td>
                            <td>[ ]</td>
                        </tr>
                    </tbody>
                </table>
                <br>
            </div>
            <!--/div><!-- end inner -->
                <div class="next-question">
                    <a href="/mb/mb-end.html" class="button alertButton">Next</a>
                </div>
                <a href="/mb/employment.html">Back - no changes will be made</a>
            </div><!-- end declaration -->
    </div><!-- end inner block -->
</main>
{{/content}}
{{/layout}}
