{{<layout}}
{{$pageTitle}}Index{{/pageTitle}}
{{$content}}
<main id="content" role="main">
    <div class="inner-block">
        <h1 class="heading-large"><a href="/">Team 9</a></h1>
        <h2 class="heading-medium">Car Service</h2>
        
         <h3 class="heading-medium">Sprint 34</h3>
        <h4 class="heading-small">Confirmation page with Breadcrumb pattern</h4>
       <ul class="list-bullet">
            <li><a href="/car-service/sprint-34-confirmation-page.html">Confirmation</a> (Always to tax code)</li>
        </ul>
              <h4 class="heading-small">Dynamic journey</h4>
         <p>Green button to be dynamic and reflect where the user has come from</p>
         <ul class="list-bullet">
             <li><a href="/car-service/confirmation-income.html">Taxable income</a></li>
             <li><a href="/car-service/confirmation-code.html">Your tax codes</a></li>
             
              <br>
            <P>Return user back to taxable income page and show no breadcrumb for <br>Company Benefits (as per Tell Us page journey previously)</P>
             <li><a href="/car-service/confirmation-company.html">Your company benefits</a></li>
           
        </ul>
        
         <h3 class="heading-medium">Sprint 31</h3>
        
          <ul class="list-bullet">
            <li><a href="/car-service/splash-page.html">Splash page</a></li>
           </ul>
        
           <h4 class="heading-small">Breadcrumb pattern</h4>
         <ul class="list-bullet">
              
            <!-- <li><a href="/car-service/service-breadcrumb.html">Home / details page - Stand-alone service</a></li>-->
            <li><a href="/car-service/integrated-breadcrumb.html">Home / details page - Integrated journey</a></li>
           
             
             <br>
             
              
              
               
      <!--  <li><a href="/car-service/service-breadcrumb-journey.html">Journey - Stand-alone service</a></li>-->
             <li><a href="/car-service/integrated-breadcrumb-journey.html">Journey - Integrated </a></li>
             
             
        </ul>
           
              
             <!-- <br>
                 <li><a href="/car-service/sprint-31-confirmation-page.html">Confirmation page</a> (integrated) </li>
                <li><a href="/car-service/sprint-31-confirmation-page-standalone.html">Confirmation page</a> (stand-alone) </li>
              
        </ul>-->
        
        <hr>
        
        <h4 class="heading-small">Remove a fuel benefit</h4>
        <ul class="list-bullet">
            <li><a href="/car-service/car-1.html">Remove a fuel benefit</a></li>
             <li><a href="/car-service/car-2.html">Check your updated details before submitting them</a></li>
             <li><a href="/car-service/car-3.html">Your details have been updated</a></li>
           
        </ul>
        
        
        <h4 class="heading-small">Add a new company car</h4>
        <ul class="list-bullet">
            <li><a href="/car-service/car-4.html">Add a new company car (including any fuel benefit)</a></li>
             <li><a href="/car-service/car-5.html">Check your updated details before submitting them</a></li>
             <li><a href="/car-service/car-6.html">Your details have been updated</a></li>
           
        </ul>
        
        
          <h4 class="heading-small">Replace this car</h4>
        <ul class="list-bullet">
            <li><a href="/car-service/car-7.html">Replace your company car</a></li>
             <li><a href="/car-service/car-8.html">Check your updated details before submitting them</a></li>
             <li><a href="/car-service/car-9.html">Your details have been updated</a></li>
           
        </ul>
        
        
        
          <h4 class="heading-small">Remove this car</h4>
        <ul class="list-bullet">
            <li><a href="/car-service/car-10.html">Remove your company car</a></li>
             <li><a href="/car-service/car-11.html">Check your updated details before submitting them</a></li>
             <li><a href="/car-service/car-12.html">Your details have been updated</a></li>
           
        </ul>
        
        
        
        
        
        
    </div>
</main>
{{/content}}
{{/layout}}