{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
    <div class="inner">
            <div class="highlighted-event">
                <h1 class="heading-large">Your claim has been submitted</h1>
            </div>
        <br>
            <p>Your claim has been sent to HM Revenue &amp; Customs.</p>
            <p>They will write to you if there are any changes to the income tax you pay or your tax code changes.</p>
            <div class="next-question">
                <br>
                <a href="#">Sign out</a>
            </div>
    </div><!-- end inner -->
    </div><!-- end inner block -->
</main>
{{/content}}
{{/layout}}