{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        <div class="inner">
            <header class="page-header group">
                <div>
                    <h1 class="heading-xlarge">Claim job expenses</h1>
                </div>
            </header> 
            <div class="page-content">
                <div class="alert-panel">
                     You can not use this service.
                </div>
                <p>You can only use this service if you:</p>
                <ul class="list-bullet">
                    <li>have only one job</li>
                    <li>did that job for all or some of the tax year from 6 April 2015 to 5 April 2016</li>
                    <li>wish to claim no more than £165</li>
                </ul>
                <div class="panel-indent">
                    <p>You may be able to <a href="https://www.gov.uk/government/publications/income-tax-tax-relief-for-expenses-of-employment-p87">claim using form P87</a></p>
                </div>
            </div>                
            <br>
                    <a class="button" href="/">Sign out</a>
                </div>
            
            </div>
        </div><!-- end inner -->
    </div><!-- end inner block -->
</main>
{{/content}}
{{/layout}}