{{<layout}}
{{$pageTitle}}Index{{/pageTitle}}
{{$content}}
<main id="content" role="main">
    <div class="inner-block">
        <h1 class="heading-large"><a href="/">Team 9</a></h1>
        <h2 class="heading-medium">Flat rate expenses</h2>
        <!--p class="font-small">Allows user to select 'Healthcare' occupation or 'other'</p-->
        <ul class="list-bullet">
            <li><a href="/start.html">Claim a FRE</a></li>
            <li><a href="/error.html">Generic error page</a></li>
            <li><a href="/dd/dd-start.html">Claim a FRE - Dropdown version</a></li>
        </ul>  
    </div>
</main>
{{/content}}
{{/layout}}