<div class="outer-block">
        <div class="inner-block">
            
            
  <div class="phase-banner-beta">
    <p>
      <strong class="phase-tag">BETA</strong>
      <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
    </p>
  </div>
            
            
            <div class="hmrc-banner">
                <i class="hmrc-crest"></i> HM Revenue and Customs
            </div>
            <div class="service-info__help">
                <p>Tom, you last signed in 11:49pm, Saturday 5 April 2015</p>
            </div>
        </div>
    </div>