{{<layout}}
{{$pageTitle}}Index{{/pageTitle}}
{{$content}}
<main id="content" role="main">
    <div class="inner-block">
        <h1 class="heading-xlarge">Team 9 - Flat rate expenses</h1>
        <p class="font-small">Allows user to select 'Healthcare' occupation or 'other'</p>
        <ul class="list-bullet">
            <li><a href="/start.html">Claim a FRE - v1</a></li>
            <li><a href="/error.html">Generic error page</a> - This error message will be shown after the initial sign in if the user does not meet the criteria shown on the start page</li>

        </ul>
        <hr>
        <p class="font-small">Demo of dropdown selector</p>
        <ul class="list-bullet">
            <li><a href="/dd/dd-start.html">Dropdown - v2</a></li>
        </ul>
    </div>
</main>
{{/content}}
{{/layout}}