{{<layout}}
{{$pageTitle}}Index{{/pageTitle}}
{{$content}}
<main id="content" role="main">
    <div class="inner-block">
        <h1 class="heading-large"><a href="/">Team 9</a></h1>
        <h2 class="heading-medium">Medical Benefit</h2>
        <ul class="list-bullet">
            <!--<li><a href="/mb3/mb3-start.html">Version 3</a></li>-->
            <li><a href="/mb2/mb2-start.html">Version 2</a> (last updated 03-04-15)</li>
            <li><a href="/mb/mb-start.html">Version 1</a> (last updated 24-03-15)</li>
        </ul>
    </div>
</main>
{{/content}}
{{/layout}}