{{<layout}}
{{$pageTitle}}Index{{/pageTitle}}
{{$content}}
<main id="content" role="main">
    <div class="inner-block">
        <h1 class="heading-large"><a href="/">Team 9</a></h1>
        <h2 class="heading-medium">Medical Insurance</h2>
        <ul class="list-bullet">
              <li><a href="/mb6/mb6-start.html">Version 6</a> (In progress)</li>
              <li><a href="/mb5/mb5-start.html">Version 5</a> <!-- (last update 11-06-15) --></li> 
            <li><a href="/mb4/mb4-start.html">Version 4</a> (last updated 02-06-15)</li>
            <li><a href="/mb3/mb3-start.html">Version 3</a> (last updated 06-05-15)</li>
            <li><a href="/mb2/mb2-start.html">Version 2</a> (last updated 03-04-15)</li>
            <li><a href="/mb/mb-start.html">Version 1</a> (last updated 24-03-15)</li>
        </ul>
        
        
        
       
        <ul class="list-bullet">
            <li><a href="/mb6/mb6-exit-survey">Exit Survery</a></li>
            
        </ul>
    </div>
</main>
{{/content}}
{{/layout}}