{{<layout}}
{{$pageTitle}}Index{{/pageTitle}}
{{$content}}
<main id="content" role="main">
    <div class="inner-block">
        <h1 class="heading-large"><a href="/">Team 9</a></h1>
        <h2 class="heading-medium">Medical Insurance</h2>
        
       <!-- <ul class="list-bullet">
        <li><a href="/mb9/mb9-error.html">Error page</a> (In progress)</li>
        </ul>-->
        
         <!--<h3 class="heading-medium">Version 9 (In progress)</h3>
       
        <ul class="list-bullet">
         <li> <a href="/mb9/mb9-check-income-tax.html">med ben</a> </li>
        </ul>-->
        
        
                 <h3 class="heading-medium">Version 8.1</h3>
        <ul class="list-bullet">
         <li><a href="/mb8-1/mb8-1-check-income-tax.html">med ben</a> </li>
        </ul>
        
        
         <h3 class="heading-medium">Version 8 (tested 17-09-15)</h3>
        <h4 class="heading-small2">Journey starting point: Check your Income Tax screen</h4>
        <ul class="list-bullet">
         <li>Scenario 1: <a href="/mb8/mb8-check-income-tax.html">Costa med ben</a> </li>
     
       <li>Scenario 2: <a href="/mb8-v2/mb8-v2-check-income-tax.html">Starbucks med ben</a> </li>
        
    
        </ul>
    
           <h3 class="heading-medium">Version 7 (tested 27-08-15)</h3>
        <h4 class="heading-small2">Journey starting point: Tax estimate screen</h4>
        <ul class="list-bullet">
            
             <li><a href="/mb7/mb7-income-tax.html">Scenario 1, 4, 5</a> </li>
            <li><a href="/mb7-2/mb7-2-income-tax.html">Scenario 2</a> </li>
            <li><a href="/mb7-3/mb7-3-income-tax.html">Scenario 3</a> </li>
            </ul>
        <hr>
     
         <ul class="list-bullet">
             <li><a href="/mb6-5/mb6-5-start.html">Version 6.1</a> (tested 13-08-15)</li>
            
             <li><a href="/mb6-5-vb/mb6-5-start-vb.html">Version 6.1B</a> -  Shows alternative page at end of stop and update journey (edit link)</li>
            <br>
              <li><a href="/mb6/mb6-start.html">Version 6</a> (last updated 23-07-15)</li>
              <li><a href="/mb5/mb5-start.html">Version 5</a> (last updated 11-06-15) </li> 
            <li><a href="/mb4/mb4-start.html">Version 4</a> (last updated 02-06-15)</li>
            <li><a href="/mb3/mb3-start.html">Version 3</a> (last updated 06-05-15)</li>
            <li><a href="/mb2/mb2-start.html">Version 2</a> (last updated 03-04-15)</li>
            <li><a href="/mb/mb-start.html">Version 1</a> (last updated 24-03-15)</li>
        </ul>
        
        
        
       
        <ul class="list-bullet">
            <li><a href="/mb6/mb6-exit-survey">Exit Survey</a></li>
            
        </ul>
    </div>
</main>
{{/content}}
{{/layout}}