{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}            
<main id="content" role="main">
    <div class="inner-block">
        <div class="inner">
            <header class="page-header group">
                <div>
                    <h1 class="heading-xlarge">Your expenses</h1>
                </div>
            </header> 
            <div class="page-content">
                <h2 class="heading-small">Choose the expense you're claiming for:</h2>
                <div class="panel-indent error-block">
                    <p>Please choose an expense</p>
                </div>
                    <form class="long-list">
                        <fieldset>
                            <div class="form-group form-group-compound">
                                <label class="block-label" for="protective">
                                <input id="protective" type="radio" name="radio_group" value="Other laundry including protective clothing">
                                Other laundry including protective clothing
                                </label>
                            </div>
                        </fieldset>
                    </form>
                    <div class="alert-panel">
                        <p>You can't claim uniform laundry expenses if you're:</p>
                        <ul class="list-bullet">
                            <li>a Metropolitan Police Officer</li>
                            <li>a Metropolitan Community Officer</li>
                            <li>in the Armed Forces</li>
                        </ul>
                    </div>
                <div class="next-question">
                    <a id="other-occupation"  class="button alertButton" >Next</a>
                </div>
                <div>
                    <a href="#">Back</a>
                </div>
            </div><!-- end page-content -->    
        </div><!-- end inner -->    
    </div><!-- end inner block -->    
</main>
{{/content}}
{{/layout}}
