{{<layout}}
{{$pageTitle}}Index{{/pageTitle}}
{{$content}}
<div class="outer-block">
    <div class="inner-block">
        <div class="hmrc-banner">
            <i class="hmrc-crest"></i> HM Revenue and Customs
        </div>
        <div class="service-info__help">
            <p>&nbsp;</p>
        </div>
        <div class="grid-row">
            <div class="column-two-thirds">
                <main id="content" role="main">
                    <header class="page-header group">
                        <h1 class="heading-xlarge">Claim job expenses</h1>
                    </header> 
                    <div class="start-content">
                        <p>You may be able to claim tax relief if you have to use your own money for things that you must buy or maintain for your job.</p>
                        <p>You can either claim:</p>
                        <ul class="list-bullet">
                            <li>for what you’ve spent - you’ll need to keep receipts</li>
                            <li>a ‘flat rate deduction’</li>
                        </ul>
                        <p>This service lets you claim a 'flat rate deduction' for expenses in the tax year from 6 April 2015 to 5 April 2016.</p>
                        
                        <details>
    <summary><span class="summary">What are Flat Rate Deductions?</span></summary>
    <div class="panel-indent">
        <p>Flat rate deductions are set amounts that HM Revenue and Customs (HMRC) has agreed are typically spent each year by <a href="https://www.gov.uk/tax-relief-for-employees/uniforms-work-clothing-and-tools">employees in different occupations.</a></p>
    </div>
  </details>

                  <br>      
                        <p>You must verify your identity to use this service for the first time. You’ll need:</p>
                        <ul class="list-bullet">
                            <li>a valid UK passport or UK photocard driving licence</li>
                            <li>access to your financial information</li>
                            </ul>
                            <p>You only have to verify your identity once. After that you can sign in with your username and password.</p>
                        
                        <br>
                        <a href="/your-employment.html" class="button button-get-started">Start now</a>
                        <p class="font-xsmall destination">On GOV.UK Verify</p>
                        <h1 class="heading-medium">Before you start</h1>
                        <p>You can use this service if you:</p>
                        <ul class="list-bullet">
                            <li>have only one job</li>
                            <li>did that job for all or some of the tax year from 6 April 2015 to 5 April 2016</li>
                            <li>are claiming no more than £165</li>
                        </ul>
                        <p>You can’t claim flat rate expenses if your employer:</p>
                        <ul class="list-bullet">
                            <li>pays the expenses for you</li>
                            <li>provides vouchers or some other way of covering the cost</li>
                            <li>deducts the payment from your pay, before deducting income tax (this is called a ‘net pay 
                                arrangement’)</li>
                        </ul>
                        <p>This service is still being developed. It doesn't yet include every occupation. If you’re not able to use it you may be able to <a href="https://www.gov.uk/government/publications/income-tax-tax-relief-for-expenses-of-employment-p87"> claim using form P87</a>
                        </p>
                    </main>
                </div>
                <div class="column-third">
                    <div class="related">
                        <h2 class="heading-medium">Elsewhere on GOV.UK</h2>
                        <ul>
                            <li><a href="https://www.gov.uk/tax-relief-for-employees/overview">Find out more about Flat Rate Expenses</a></li>
                        </ul>
                    </div>
                </div>
        </div>
    </div>
</div>
{{/content}}
{{/layout}}