{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
    <div class="inner">
        <header class="page-header group">
            <div>
                <h1 class="heading-xlarge">Claim job expenses</h1>
            </div>
        </header> 
        <h2 class="heading-medium">You are entitled to claim £60 for expenses.</h2>
        <p>These expenses must not have been previously paid for by your employer</p>
        <h2 class="heading-large">Summary</h2>
                <!--
                <h2 class="heading-small">Care Homes Ltd.</h2>
                <p>Industry: Health Care <a href="/industry.html">edit</a>
                <p>Ocuption: Carer <a href="/occupation.html">edit</a></p>
                -->
            <div>
                <h2 class="heading-small">Your employment details</h2>
                <table class="details-summary">
                    <tbody>
                        <tr>
                            <td scope="col">Employer name</td>
                            <td scope="col">Care Homes Ltd.</td>
                            <td scope="col">&nbsp;</td>
                        </tr>
                        <tr>
                            <td>Industry</td>
                            <td>Other</td>
                            <td><a href="/industry-view.html">Change this</a></td>
                        </tr>
                        <tr>
                            <td>Occupation group</td>
                            <td>Other uniformed industry</td>
                            <td><a href="/occupation-view.html">Change this</a></td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <!--h2 class="heading-small">Your expenses</h2>
                <table class="expense-summary">
                    <thead>
                        <tr>
                            <th scope="col">Expense</th>
                            <th scope="col">Amount (£)</th>
                            <th scope="col">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Laundry</td>
                            <td>60</td>
                            <td>&nbsp;</td>
                        </tr>
                    </tbody>
                </table> 
                <br-->
            </div>
            <div class="next-question">
                <a href="/end-view.html"class="button">Apply</a>
            </div>
        </div><!-- end inner -->
    </div><!-- end inner block -->
</main>
{{/content}}
{{/layout}}