{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        <div class="inner">
        <header class="page-header group">
            <div>
                <h1 class="heading-xlarge">Your industry</h1>
            </div>
        </header>
            <div class="page-content">
            <form>
                <fieldset>
                    <legend class="form-label-bold">Choose your industry:</legend>
                    <br>
                    <div class="form-group form-group-compound">
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Agriculture
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Airlines
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Aluminium
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Armed forces
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Banks and Building Societies
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Brass and Copper
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Building
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Building Materials
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Clothing
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Constructional Engineering
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Electrical andElectricity Supply
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Fire Service
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Food
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Forestry
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Glass
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Healthcare staff in the National Health Service, private hospitals and nursing homes
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Heating
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Iron Mining
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Iron and Steel
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Leather
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Particular Engineering
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Police Force
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Precious Metals
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Prisons
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Public Service:Docks and Inland Waterways.
                </label>
                 <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Public Service:Public Transport.
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Quarrying
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Railways
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Seamen
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Shipyards
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Textiles and Textile Printing
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Vehicles
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Wood and Furniture
                </label>
                <label class="block-label" for="">
                    <input id="" type="radio" value="">
                    Other industry
                </label>
                    </div>
                </fieldset>                
                </form>
                    <div class="next-question">
                        <br>
                        <a href="/your-occupation.html" class="button">Next</a>
                    </div>
                    <div>
                        <a href="#">Back</a>
                    </div>
            </div><!-- page-content -->    
        </div><!-- end inner -->    
    </div><!-- end inner block -->    
</main>
{{/content}}
{{/layout}}