{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}            
<main id="content" role="main">
    <div class="inner-block">
        <div class="inner">
            <header class="page-header group">
                <div>
                    <h1 class="heading-xlarge">Your occupation</h1>
                </div>
            </header> 
            <div class="page-content">
                <div class="current-question">
            <form class="long-list">
                <fieldset>
                    <legend class="form-label-bold">Choose your occupation:</legend>
                    <br>
                    <div class="form-group form-group-compound">
                <label class="block-label" for="ambulance">
                    <input id="ambulance" type="radio" name="radio_group" value="Ambulance staff on active service">
                    Ambulance staff on active service
                </label>
                <label class="block-label" for="nurses">
                    <input id="nurses" type="radio" name="radio_group" value="Nurses, midwives, chiropodists, dental nurses, occupational, speech, physiotherapists and other therapists, healthcare assistants, phlebotomists and radiographers.">
                     Nurses, midwives, chiropodists, dental nurses, occupational, speech, physiotherapists and other therapists, healthcare assistants, phlebotomists and radiographers.
                </label>
                <label class="block-label" for="plaster">
                    <input id="plaster" type="radio" name="radio_group" value="Plaster room orderlies, hospital porters, ward clerks, sterile supply workers, hospital domestics and hospital catering staff">
                    Plaster room orderlies, hospital porters, ward clerks, sterile supply workers, hospital domestics and hospital catering staff
                </label>
                <label class="block-label" for="laboratory">
                    <input id="laboratory" type="radio" name="radio_group" value="Laboratory staff, pharmacists and pharmacy assistants">
                    Laboratory staff, pharmacists and pharmacy assistants
                </label>
                <label class="block-label" for="ancillary">
                    <input id="ancillary" type="radio" name="radio_group" value="Uniformed ancillary staff: maintenance workers, grounds staff, drivers, parking attendants and security guards, receptionists and other uniformed staff">
                    Uniformed ancillary staff: maintenance workers, grounds staff, drivers, parking attendants and security guards, receptionists and other uniformed staff
                </label>
                    </div>
                </fieldset>
                </form>
                </div>
                <div class="next-question">
                    <br>
                    <a id="next-occupation" href="" class="button" disabled="disabled">Next</a>
                </div>
                <div>
                    <a href="#">Back</a>
                </div>
            </div><!-- end page-content -->    
        </div><!-- end inner -->    
    </div><!-- end inner block -->    
</main>
{{/content}}
{{/layout}}