{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        <div class="inner">
            <header class="page-header group">
                <div>
                    <h1 class="heading-xlarge">Your employment</h1>
                </div>
            </header>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Employer name</th>
                            <!-- th scope="col">Employer reference</th -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Care Homes Ltd.</td>
                            <!-- td>123456789</td -->
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <div class="next-question">
                <a href="/your-industry.html"class="button">Claim for this job</a>
            </div>
            <div>
            <details>
                <summary><span class="summary">This isn’t the job I want to claim for</san></summary>
                <div class="panel-indent">
                      <a href="https://www.gov.uk/government/publications/income-tax-tax-relief-for-expenses-of-employment-p87">You may be able to claim using form P87</a>
                </div>
              </details>           
            </div>
        </div><!-- end inner -->
    </div><!-- end inner block -->
</main>
{{/content}}
{{/layout}}