{{<layout}}
{{$pageTitle}}Sign in{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        
         <div id="global-breadcrumb" class="header-context">

</div>
        
        
        <header class="page-header group">
            <div class="grid-row group"></header>
                <div class="column-two-thirds">
                    
              <h1 class="heading-xlarge text" >You’ve been signed out</h1>
                
              
          

            <p>You haven't entered any details for 15 minutes, so we've cleared your information to keep it secure.</p>
                    
                    <a href="/mb9/mb9-start.html"> <input class="button" type="submit" value="Sign in"></a>

          
      
                    
            </div>
             
            
             
             
        </div>
        
        
          
        
        
        
    </div>
</main>

<script>
var my_title = document.getElementById("proposition-name");
    my_title.innerHTML = "Check your Income Tax"
</script>

{{/content}}
{{/layout}}