{{<layout}}
{{$pageTitle}}Confirm this benefit stopped before 6 April 2015{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        
                     
                 <div id="global-breadcrumb" class="header-context">
<ol class="group" role="breadcrumbs">
    <li>
<a href="/mb9/mb9-income-tax.html">Account home</a>
</li>
<li>
<a href="/mb9/mb9-check-income-tax.html">Income Tax</a>
</li>
    
     <li>
<a href="/mb9/mb9-tax-on-income.html">Tax on income</a>
</li>
       <li>
<a href="/mb9/mb9-home">Your medical benefit</a>
</li>
    
    
    

</ol>
</div>
       
        
        
        
         <div class="eng-welsh-toggle"><p style="font-size:19px">English | <a href="">Cymraeg</a></p></div>
        
        
        
        
     <div class="column-two-thirds">
        <header class="page-header group">
            <h1 class="heading-xlarge">Confirm this benefit stopped before 6 April 2015 </h1>
            
            
             
          <div class="panel-indent">
    <p>
 If your benefit stopped before 6 April 2015, it’ll be removed from your record for the tax year 6 April 2015 to 5 April 2016.	 
    </p>
  </div>

            
            <p>Are you sure that you stopped getting this benefit before 6 April 2015?</p>
            
            
            <input type="hidden" name="Employer" value="{{employer}}">
            
            <fieldset class="questions">
                
                
                
  <fieldset class="inline">
    <label class="block-label" for="radio-inline-1">
      <input id="radio-inline-1" name="radio-inline-group" value="Yes" type="radio">
      Yes
    </label>
    <label class="block-label" for="radio-inline-2">
      <input id="radio-inline-2" name="radio-inline-group" value="No" type="radio">
      No
    </label>
  </fieldset>


                
                
                
           
                  
             </fieldset>
                   
         
            
          
            <div class="next-question">
              <a id="question-submit3-v9" href="/" class="button">Confirm</a>
                </div>
            
            
            
        <!--confirm box   <label class="form-checkbox" for="checkbox-telephone-number">
    <input id="checkbox-telephone-number" value="checkbox-telephone-number" type="checkbox">
    I confirm that these changes are correct
  </label>-->
            
       <!-- <div class="next-question">
            
            
           old confirm and remove button <a href="/mb6/mb6-finish" class="button alertButton">Confirm and remove</a> 
        </div>-->
       
            <!-- old back link 
            <a class="cancel" href="mb8-question-a?employer={{employer}}">Back</a>
-->
            
            
            
             <!-- back to previous page link -->
                                          
                       <p class="back-to-previous"><a href="/mb9/mb9-question-a?employer={{employer}}">Back to report when you stopped getting this benefit</a></p>
                        
                        <!-- end of link -->
            
            
            
        </div>
         
         
         
         <!-- start of anythign wrong link-->
        
         <div class="column-two-thirds">
             
             
         
                    <p class="report-a-problem-toggle" style="padding:50px 0 0 0; margin-bottom:-100px">
                        <a href="#" id="toggle2">Is there anything wrong with this page?</p></a>
                    </p>
            
             
             
<div  class="toggle2" style="display:none; padding:80px 0 0 0;">
                <div class="report-a-problem-container">
                    <div class="report-a-problem-inner">
                        <div class="report-a-problem-content" >
                            <h2 class="heading-medium">Help us improve GOV.UK</h2>
                            <p style="font-size:19px">Don't include personal or financial information, eg your National Insurance number or credit card details.</p>
                            <form accept-charset="UTF-8" id="help-improve-form" novalidate="novalidate" _lpchecked="1">

                                <div class="form-group form-group-error">
                                    <label for="what_doing" class="form-label">What you were doing</label>
                                    <label for="what_doing" class="error">Please enter details of what you were doing.</label><input id="what_doing" class="form-control" name="what_doing" type="text" required="" aria-required="true" aria-invalid="true">
                                </div>
                                <div class="form-group form-group-error">
                                    <label for="went_wrong" class="form-label">What went wrong</label>
                                    <label for="went_wrong" class="error">Please enter details of what went wrong.</label><input id="went_wrong" class="form-control" name="went_wrong" type="text" required="" aria-required="true">
                                </div>
                                <div class="button-wrapper">
                                    <button name="commit" type="submit" class="button">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> 
             <!-- end of anything wrong link -->
    
    
    
    </div>
</main>
{{/content}}
{{/layout}}