{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        <div class="inner">
            <header class="page-header group">
                <div>
                    <h1 class="heading-xlarge">Your employment</h1>
                </div>
                <h2 class="heading-small">Confirm your employer:</h2>
            </header>
            <br>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Employer name</th>
                            <!-- th scope="col">Employer reference</th -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Asda</td>
                            <!-- td>123456789</td -->
                        </tr>
                    </tbody>
                </table>
            </div>
            <br>
            <div class="next-question">
                <a href="/dd/dd-industry.html"class="button">Next</a>
            </div>
            <div class="panel-indent">
                <!--p>If you started a new job less than 35 days ago HM Revenue &amp; Customs  may not yet have the details. You can try again after 35 days or if this isn’t your job you may be able to <a href="https://www.gov.uk/government/publications/income-tax-tax-relief-for-expenses-of-employment-p87">claim using form P87</a></p-->
                <p>If this isn’t your job you may be able to <a href="https://www.gov.uk/government/publications/income-tax-tax-relief-for-expenses-of-employment-p87">claim using form P87</a></p>
                </div>
            </div>
        </div><!-- end inner -->
    </div><!-- end inner block -->
</main>
{{/content}}
{{/layout}}