  {{<layout}}
{{$pageTitle}}Index{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        <div class="inner">
            <header class="page-header group">
                <div>
                    <h1 class="heading-xlarge">Your industry</h1>
                </div>
            </header>
            <div class="page-content">
                <h2 class="heading-small">Industry name</h2>
            <div class="panel-indent error-block">
                <p>Please choose an industry<br>
                    If your industry is not listed you can <a href="/your-industry.html">choose from all avaiable industries</a></p>
            </div>
                <p class="form-hint">Start typing the name of your industry in the box below.</p>
            <div class="dropdown">
<form>
    <select name="Industry" id="country-selector" autofocus="autofocus" autocorrect="off" autocomplete="off">
        <option value="" selected="selected">Select Country</option>
        <option value="Agriculture" data-alternative-spellings="">Agriculture</option>
        <option value="Airlines" data-alternative-spellings="">Airlines</option>
        <option value="Aluminium" data-alternative-spellings="">Aluminium</option>
        <option value="Armed forces" data-alternative-spellings="">Armed forces</option>
        <option value="Banks and Building Societies" data-alternative-spellings="">Banks and Building Societies</option>
        <option value="Brass and Copper" data-alternative-spellings="">Brass and Copper</option>
        <option value="Building" data-alternative-spellings="">Building</option>
        <option value="Building Materials" data-alternative-spellings="">Building Materials</option>
        <option value="Clothing" data-alternative-spellings="">Clothing</option>
        <option value="Constructional Engineering" data-alternative-spellings="">Constructional Engineering</option>
        <option value="Trades ancillary to engineering" data-alternative-spellings="">Trades ancillary to engineering</option>
        <option value="Fire Service" data-alternative-spellings="">Fire Service</option>
        <option value="Food" data-alternative-spellings="">Food</option>
        <option value="Forestry" data-alternative-spellings="">Forestry</option>
        <option value="Glass" data-alternative-spellings="">Glass</option>
        <option value="Healthcare staff in the National Health Service, private hospitals and nursing homes" data-alternative-spellings="">Healthcare staff in the National Health Service, private hospitals and nursing homes</option>
        <option value="Heating" data-alternative-spellings="">Heating</option>
        <option value="Iron Mining" data-alternative-spellings="">Iron Mining</option>
        <option value="Iron and Steel" data-alternative-spellings="">Iron and Steel</option>
        <option value="Leather" data-alternative-spellings="">Leather</option>
        <option value="Particular Engineering" data-alternative-spellings="">Particular Engineering</option>
        <option value="Police Force" data-alternative-spellings="">Police Force</option>
        <option value="Precious Metals" data-alternative-spellings="">Precious Metals</option>
        <option value="Printing" data-alternative-spellings="">Printing</option>
        <option value="Prisons" data-alternative-spellings="">Prisons</option>
        <option value="Public Service:Docks and Inland Waterways" data-alternative-spellings="">Public Service - Docks and Inland Waterways</option>
        <option value="Public Service:Public Transport" data-alternative-spellings="">Public Service - Public Transport</option>
        <option value="Quarrying" data-alternative-spellings="">Quarrying</option>
        <option value="Railways" data-alternative-spellings="">Railways</option>
        <option value="Seamen" data-alternative-spellings="">Seamen</option>
        <option value="Shipyards" data-alternative-spellings="">Shipyards</option>
        <option value="Textiles and Textile Printing" data-alternative-spellings="">Textiles and Textile Printing</option>
        <option value="Vehicles" data-alternative-spellings="">Vehicles</option>
        <option value="Wood and Furniture " data-alternative-spellings="">Wood and Furniture</option>
    </select>
    <input id="drop-submit" type="submit" value="Next" class="button">
  </form>
                
                </div><!-- end dropdown --> 
                <div class="ind-help">
                    <details>
                        <summary><span class="summary">Help</span></summary>
                            <div class="panel-indent">
                                <p>If you’re industry is not listed select other</p>
                            </div>
                    </details>
                </div>               
            </div><!-- page-content -->    
        </div><!-- end inner -->    
    </div><!-- end inner block -->    
</main>
{{/content}}
{{/layout}}