{{<layout}}
{{$pageTitle}}Your information has been submitted{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        
         <div id="global-breadcrumb" class="header-context">
<ol class="group" role="breadcrumbs">
<li>
<a href="">Account home</a>
</li>
<li>
<a href="/mb8/mb8-income-tax-updated">Income Tax</a>
</li>
    <li>
<a href="/mb8/mb8-home-updated">Your medical benefit </a>
</li>
    

    

</ol>
</div>
        
        
        <header class="page-header group">
            <div class="grid-row group">
                <div class="column-two-thirds">
                    <div class="done-box">
                        <h1 class="heading-large tick">Your information has been submitted and your <br>record has been updated</h1> 
                    </div>
                </div>
            </div>
        </header>
        <div class="grid-row group">
            <div class="column-two-thirds">
          
                
          
              
                <div id="no-change-val"><p>HM Revenue and Customs will write to you if your tax code has changed.</p></div>
                
                <div id="change-val"><p>HM Revenue and Customs will write to you with your new tax code.</p></div>
                
                
                
                
                 <a href="/mb8/mb8-income-tax-updated" class="button">Check your Income Tax estimate</a>
                 
            </div>
        </div>
        
        
    
        
    </div>
</main> 
{{/content}}
{{/layout}}