{{<layout}}
{{$pageTitle}}Your session has timed out{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        
         <div id="global-breadcrumb" class="header-context">
<ol class="group" role="breadcrumbs">

    <li>
<a href="">Account home</a>
</li>
<li>
<a href="">Income Tax</a>
</li>


</ol>
</div>
        
        
        <header class="page-header group">
            <div class="grid-row group"></header>
                <div class="column-two-thirds">
                    
              <h1 class="heading-xlarge text" >Your session has timed out</h1>
                
              
          

            <p>Because you haven’t done anything for 20 minutes, your session has timed out.</p>
                    <p>We’ve deleted all the details you’ve entered to protect your privacy.</p>
                    <p>You’ll need to <a href=>start again</a>.</p>

          
      
                    
            </div>
             
            
             
             
        </div>
        
        
          
        
        
        
    </div>
</main>

<script>
var my_title = document.getElementById("proposition-name");
    my_title.innerHTML = "Check your Income Tax"
</script>

{{/content}}
{{/layout}}