{{<layout}}
{{$pageTitle}}Check or change medical insurance{{/pageTitle}}
{{$content}}
            {{>hmrc_banner}}

<div class="outer-block">
    <div class="inner-block">
        
       <div id="global-breadcrumb" class="header-context">
<ol class="group" role="breadcrumbs">
    <li>
<a href="">Account home</a>
</li>
<li>
<a href="/mb8/mb8-income-tax.html">Income Tax</a>
</li>
    <li>
<a href="/mb8/mb8-income-tax.html">Tax estimate</a>
</li>
    
<li>Check or update</li>
</ol>
</div>
        
        
    
        
        
        <div class="grid-row">
            <div class="column-two-thirds">
                <main id="content" role="main">
                    <header class="page-header group">
                        <h1 class="heading-xlarge-start" >Check or update your medical insurance benefit</h1>
                    </header>
                    <div class="start-content">
                      <br>
                        <p>You can't use this service to:</p>
                        
                          <ul class="list-bullet">
                            <li>add new benefits or view any policy details</li>
                            <li>change the value of a benefit you still get from an employer</li>
                            <li>change the value of a benefit you had before 6 April 2015</li>
                     </ul>
                        
                                            
                          <p>Do you want to:</p>
                        
                          <ul class="list-bullet">
                            <li>check the value of a benefit you’re currently getting?</li>
                           
                            <li>remove a benefit you’ve never had from an employer? </li>
                               <li>report that you've stopped getting a benefit?</li>
                     </ul>
                        
                           <div class="panel-indent" > <p>If your benefit stopped on or after 6 April 2015, the employer that provided it will be able to confirm how much they paid.</p> </div>
                       
                        
                        
                        <br>
                        <a href="/mb8/mb8-home" class="button">Yes, continue</a>
                        <p> <a href="/mb8/mb8-income-tax.html">No, cancel</a></p>
                
                       
                        
                                          
                        
                        
                        
                    </div>
            </main>
        </div>
                                   <!-- <div class="column-third">
                            <div class="related">
                                <h2 class="heading-medium">Elsewhere on GOV.UK</h2>
                               <!-- <p class="font-xsmall">These links will open in another window</p>-->
                               <!-- <ul>
                                    <li><a href="https://www.gov.uk/tax-company-benefits/overview">Tax on company benefits</a></li>
                                </ul>
                            </div>
                        </div> -->

        </div><!-- grid row -->
    </div><!-- inner block -->
</div><!-- outer block -->
{{/content}}
{{/layout}}