{{<layout}}
{{$pageTitle}}Check and confirm{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}

<script type="text/javascript">
            function CommaFormatted(amount) {
	var delimiter = ","; // replace comma if desired
	//var a = amount.split('.',2)
	//var d = a[1];
	var i = amount;
	if(isNaN(i)) { return ''; }
	var minus = '';
	if(i < 0) { minus = '-'; }
	i = Math.abs(i);
	var n = new String(i);
	var a = [];
	while(n.length > 3) {
		var nn = n.substr(n.length-3);
		a.unshift(nn);
		n = n.substr(0,n.length-3);
	}
	if(n.length > 0) { a.unshift(n); }
	n = a.join(delimiter);
	amount = n;
	amount = minus + amount;
	return amount;
}
        </script>



<main id="content" role="main">
    <div class="inner-block">

                
                
                 <div id="global-breadcrumb" class="header-context">
<ol class="group" role="breadcrumbs">
<li>
<a href="">Account home</a>
</li>
    <li>
<a href="/mb8/mb8-income-tax.html">Income Tax</a>
</li>
    <li>
<a href="/mb8/mb8-income-tax.html">Tax estimate</a>
</li>
       <li>
<a href="/mb8/mb8-home">Your medical insurance</a>
</li>
    
    <li>
<a href="/mb8/mb8-question-a?employer={{employer}}">Stopped getting this</a>
</li>
    
    
 
</ol>
</div>
        
        
        <div class="column-two-thirds">
        <header class="page-header group">
            <h1 class="heading-xlarge">Check and confirm</h1>
         
        </header> 
        <div class="grid-row group">
            
            
             
            <div class="grid-row2"></div>
            
            <h4 class="heading-small">{{employer}}</h4>
            
                       
           <div class="job">
            <div class="bd-top3">
               <!-- <h3 class="heading-small">{{employer}}</h3>-->
                <table class="mb-sum borderless">
                    <tbody>
                                               <tr>
                            <td>Value:    £<script>var total= {{tempValue}}; document.write(CommaFormatted(total))</script></td>
                            
                            <td><a href="mb8-update?employer={{employer}}">Change the value</a></td>
                        </tr>
                    </tbody>
                </table>
               </div>
               </div>
                
                
                <br>
                
                
              
               <!-- <div class="important">
                    Changes made apply only for the tax year to 5 April 2016. From 6 April 2016 you will have no medical insurance recorded. You must tell us if you have it in the tax year from 6 April 2016. 
                </div>-->
           
      
        <div class="next-question">
            <a href="mb8-done?amount={{tempValue}}" class="button">Confirm</a>
        </div>
        <a class="cancel" href="mb8-update?employer={{employer}}">Back</a>
        </div>  </div><!-- end inner block -->
</main>
{{/content}}
{{/layout}}
