{{<layout}}
{{$pageTitle}}Your medical insurance benefit{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block" id="my-bens">
        
        <div id="global-breadcrumb" class="header-context">
<ol class="group" role="breadcrumbs">
<li>
<a href="">Income Tax</a>
</li>
    <li>
<a href="">Tax estimate</a>
</li>
    
<li>Your medical insurance</li>
</ol>
</div>
           
        
        
        <header class="page-header group">
            <h1 class="heading-xlarge2">Your medical insurance benefit</h1>
            <h3 class="heading-medium-title">for 6 April 2015 to 5 April 2016</h3>
           
            
            
          
        </header>
        
         <div class="column-two-thirds">
             
             <div class="panel-indent">
                 <p>
                    You pay tax on the value of this benefit. 	 
                </p>
            </div>
        
  
        
     <h3 class="heading-medium-title2">Your Employer</h3>
        <div class="grid-row2">
        </div>
        
    
        
              
        
           <div class="job-wrapper">
            

             
                   
               
                     <h4 class="heading-small">Costa</h4>
                    
              
            
                <div class="dash-info">
                       You told us you don’t get this benefit anymore.<br><br>
                        Benefit value: £<span id="cc-amount">{{ccBen}}</span>
    
                </div>
                    
                       
                 <div class="dash-nav">
                     <div class="nav-styling">
                         <a href="mb6-5-update-b-1-vb?employer=Costa">Edit the value of this benefit</a></div>
       
                        
                                        </div>
                    
                    
             </div>
             
        
             
             
    
      
      </div>
        
        
             
             
             
        </div>  </div><!-- end inner block -->
    
    <div class="inner-block" id="no-bens">
    
        <header class="page-header group">
        
            <header class="page-header group">
            <h1 class="heading-xlarge2">Your medical insurance benefit </h1>
            <h3 class="heading-medium-title">for 6 April 2015 to 5 April 2016</h3>
               
                <br><br>
            
             <div class="column-two-thirds">
                 
            <p>You don’t have any medical insurance benefits showing on our records.</p>
           <div class="grid-row2">
        </div>
         
        </header>
        </div> </div><!-- end inner block -->
</main>
{{/content}}
{{/layout}}