{{<layout}}
{{$pageTitle}}Your information has been submitted{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        <header class="page-header group">
            <div class="grid-row group">
                <div class="column-two-thirds">
                    <div class="done-box">
                        <h1 class="heading-large tick">Your information has been submitted and your record has been updated for the tax year <br>6 April                                2015 to 5 April 2016</h1> 
                    </div>
                </div>
            </div>
        </header>
        <div class="grid-row group">
            <div class="column-two-thirds">
               <!-- <p class="">Your change has been submitted. Our records have been updated.</p>-->
               <!-- <hr class="border"> --> 
                <p>HM Revenue and Customs will write to you if your tax code has changed.</p>
                <a href="mb7-home-updated" class="">Check your medical insurance benefit details</a>
            
                
                <!--<a class="cancel" href="/" class="cancel">Sign out</a>-->
                <br><br>
                <h3 class="heading-small">What happens next?</h3>
                <p>The <a href="http://paye-employees.herokuapp.com/latest/latest-your-tax">Check your Income Tax estimate service</a> shows how much Income                    Tax you may have to pay on your income.</p>
                 
            </div>
        </div>
        
        
          <div>
              <a href="mb6-exit-survey" class="button">Finish</a>
                </div>
        
        
    </div>
</main> 
{{/content}}
{{/layout}}