{{<layout}}
{{$pageTitle}}Check or change medical insurance{{/pageTitle}}
{{$content}}
<div class="outer-block">
    <div class="inner-block">
        <div class="hmrc-banner">
            <i class="hmrc-crest"></i> HM Revenue and Customs
        </div>
        <div class="service-info__help">
            <p>&nbsp;</p>
        </div>
        <div class="grid-row">
            <div class="column-two-thirds">
                <main id="content" role="main">
                    <header class="page-header group">
                        <h1 class="heading-xlarge">Check or update medical insurance benefit details</h1>
                    </header>
                    <div class="start-content">
                        <p>Tell HM Revenue and Customs (HMRC) about changes to your private medical insurance company benefit that happen between 6 April                           2015 and 5 April 2016.</p> 
                        <p>Use this service to:</p>
                        
                          <ul class="list-bullet">
                            <li>check if you’re currently getting medical insurance benefit</li>
                            <li>tell HMRC that you’ve stopped getting medical insurance benefit</li>
                            <li>tell HMRC to remove medical insurance benefit that you’ve never had</li>
                     </ul>
                        
                                            
                          <p>You can’t use this service to:</p>
                        
                          <ul class="list-bullet">
                            <li>add new benefits</li>
                            <li>change the value of benefits you still get from an employer</li>
                            <li>change the details of benefits you were getting before 6 April 2015 </li>
                     </ul>
                        
                         <h1 class="heading-medium">Before you start</h1>
                        
                        <p>If you stopped getting the benefit on or after 6 April 2015, you’ll need to ask your employer how much they’d paid for it from 6                             April 2015 until the date it stopped.</p>
                        
                       <p>You must <a href="https://www.gov.uk/government/publications/introducing-govuk-verify/introducing-govuk-verify">verify your identity</a> to use this service for the first time. You’ll need:</p>
                        
                        <ul class="list-bullet">
                            <li>a valid UK passport or UK photocard driving licence</li>
                            <li>access to your financial information</li>
                     </ul>
                        
                        <p>You only have to verify your identity once, after that you can sign in with your username and password.</p>
                       
                        
                        
                        
                        <br>
                        <a href="/mb7/mb7-home" class="button button-get-started">Start now</a>
                        <p class="font-xsmall destination">On GOV.UK Verify</p>
                        
                                          
                        
                        
                        
                    </div>
            </main>
        </div>
                                    <div class="column-third">
                            <div class="related">
                                <h2 class="heading-medium">Elsewhere on GOV.UK</h2>
                               <!-- <p class="font-xsmall">These links will open in another window</p>-->
                                <ul>
                                    <li><a href="https://www.gov.uk/tax-company-benefits/overview">Tax on company benefits</a></li>
                                </ul>
                            </div>
                        </div>

        </div><!-- grid row -->
    </div><!-- inner block -->
</div><!-- outer block -->
{{/content}}
{{/layout}}