{{<layout}}
{{$pageTitle}}Your information has been submitted{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        
         <div id="global-breadcrumb" class="header-context">
<ol class="group" role="breadcrumbs">
<li>
<a href="">Account home</a>
</li>
<li>
<a href="">Income Tax</a>
</li>
    <li>
<a href="">Your medical benefit </a>
</li>
    

    
<li>Confirmation</li>
</ol>
</div>
        
        
        <header class="page-header group">
            <div class="grid-row group">
                <div class="column-two-thirds">
                    <div class="done-box">
                        <h1 class="heading-large tick">Your information has been submitted and your <br>record has been updated</h1> 
                    </div>
                </div>
            </div>
        </header>
        <div class="grid-row group">
            <div class="column-two-thirds">
               <!-- <p class="">Your change has been submitted. Our records have been updated.</p>-->
               <!-- <hr class="border"> --> 
              <p>HM Revenue and Customs will write to you with your new tax code.</p>
                
                 <a href="/mb7/mb7-income-tax-updated" class="button">Check your Income Tax estimate</a>
                 
            </div>
        </div>
        
        
    
        
    </div>
</main> 
{{/content}}
{{/layout}}