{{<layout}}
{{$pageTitle}}Your medical insurance benefit{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}



<main id="content" role="main">
    <div class="inner-block">
        
       
 <div id="global-breadcrumb" class="header-context">
<ol class="group" role="breadcrumbs">
    <li>
<a href="https://tai-prototype.herokuapp.com/sprint31/v1/pta">Account home</a>
</li>
<li>
<a href="https://tai-prototype.herokuapp.com/sprint31/v1/income-tax">Income Tax</a>
</li>
    
     <li>
<a href="https://tai-prototype.herokuapp.com/sprint31/v1/your-income">Tax on income</a>
</li>
    

</ol>
</div>
        
        
          <div class="eng-welsh-toggle"><p style="font-size:19px">English | <a href="">Cymraeg</a></p></div>
        
            
        <header class="page-header group">
            <h1 class="heading-xlarge2">Your medical insurance benefit</h1>
            <h3 class="heading-medium-title">for 6 April 2015 to 5 April 2016</h3>
            
            
          
        </header>
        
    
     
         <div class="column-two-thirds">
             <div class="panel-indent">
                 <p>
                   You pay tax on the value of your medical insurance benefit.	 
                </p>
                 
                  <p>
                   The value may have been carried over from a previous employer.	 
                </p>
            </div>
          

        
 <!--<table class="mb-sum borderless">
                                <tbody>
                    <tr>
                        <td></td>
                         <td></td>
                       
                        <td><a href="mb6-add">Add new insurance</a></td>
                        
                    </tr>
                    
                </tbody>
            </table>-->
       
        
        
     
             
            <h3 class="heading-medium-title2">Employer</h3>
             
        <div class="grid-row2">
        </div>
        
         
        
             
             
<div class="job-wrapper" id="cc-table">
    <h4 class="heading-small">Costa</h4>
    <div class="dash-info">
        Benefit value: £<span id="cc-amount">600</span>
     </div>
         
         <div class="dash-nav">
             <div class="nav-styling">
                 <a href="mb10-1-question-a?employer=Costa">I've stopped getting this benefit</a>
             </div>
         <!--<td><a href="mb6-update?employer=Costa">You've stopped getting this benefit</a></td>-->
             <div class="nav-styling">
                 <a href="mb10-1-remove-b?employer=Costa">I've never had this benefit</a>
             </div>
        </div>
                    
                    
                    
             
                    
   </div>
        
             
        <!-- <p class="back-to-previous">   
    <a href="/mb7/mb7-income-tax.html">OK, account home</a></p>-->
             
            <h4 class="heading-small" style="padding-top:10px;">Your taxable income estimate</h4>
             <p style="padding-top:0px; font-size:19px;"><a href="https://tai-prototype.herokuapp.com/sprint31/v1/your-income">View an estimate of how much tax you might pay this year</a>.</p>
   
                 
                 
        
     
    
  
       
        
        
        
        
    
        </div>
        
        
        
        
        
    
    
    
    <!-- start of anythign wrong link-->
        
         <div class="column-two-thirds">
             
             
         
                    <p class="report-a-problem-toggle" style="padding:50px 0 0 0; margin-bottom:-100px">
                        <a href="#" id="toggle2">Is there anything wrong with this page?</p></a>
                    </p>
            
             
             
<div  class="toggle2" style="display:none; padding:80px 0 0 0;">
                <div class="report-a-problem-container">
                    <div class="report-a-problem-inner">
                        <div class="report-a-problem-content" >
                            <h2 class="heading-medium">Help us improve GOV.UK</h2>
                            <p style="font-size:19px">Don't include personal or financial information, eg your National Insurance number or credit card details.</p>
                            <form accept-charset="UTF-8" id="help-improve-form" novalidate="novalidate" _lpchecked="1">

                                <div class="form-group form-group-error">
                                    <label for="what_doing" class="form-label">What you were doing</label>
                                    <label for="what_doing" class="error">Please enter details of what you were doing.</label><input id="what_doing" class="form-control" name="what_doing" type="text" required="" aria-required="true" aria-invalid="true">
                                </div>
                                <div class="form-group form-group-error">
                                    <label for="went_wrong" class="form-label">What went wrong</label>
                                    <label for="went_wrong" class="error">Please enter details of what went wrong.</label><input id="went_wrong" class="form-control" name="went_wrong" type="text" required="" aria-required="true">
                                </div>
                                <div class="button-wrapper">
                                    <button name="commit" type="submit" class="button">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> 
             <!-- end of anything wrong link -->
</div><!-- end inner block -->
    
    
</main>

   

{{/content}}
{{/layout}}