{{<layout}}
{{$pageTitle}}Check your updated details{{/pageTitle}}
{{$content}}
         
{{>hmrc_banner}}




<main id="content" role="main">
    <div class="inner-block">
        <header class="page-header group">
          
        </header>
        <div class="grid-row group">
            <div class="column-two-thirds">
               
            
                   
             
                <h1 class="heading-xlarge">Check your updated details before submitting them</h1>
                
                <h2 class="heading-medium">Your old car</h2>
                
                 <h4 class="heading-small">Audi A3 provided by PAYESCHEMEOPERATORNAME51642</h4>
                
                      
                <table class="car-table">
                <tbody>
                  
                  <tr>
                    <th scope="row">Date given back</th>
                    <td>22 June 2014</td>
                  </tr>
                    
                     <tr>
                    <th scope="row">Date fuel benefit stopped</th>
                    <td>22 June 2014</td>
                  </tr>
                    
                    
              
                </tbody>
              </table>
                
                
            
                
                
                <div class="panel-indent">
                        <p>  Date given back (22 June 2014), date fuel benefit stopped (22 June 2014) and date provided (01 April 2015) will only be used to estimate tax on your company car benefits for                              the 2015 to 2016 tax year. </p>
                </div>
                
                
                
                
                <p class="font-small"><a href="">Change your answers</a></p>
                    
                    
                
    <a href="car-12.html" button class="button" >Submit</a>
                
                
                <br><br><br>
                
                <p class="font-xsmall"><a href="">Get help with this page.</a></p>

                
                    </div>
               
            
            
            
            
            </div>
               
            
            
            
            
            
            
            
            
          
        
        
            
            
            </div>
        </div>
    </div><!-- end inner block -->
</main>
{{/content}}
{{/layout}}