{{<layout}}
{{$pageTitle}}Check your updated details{{/pageTitle}}
{{$content}}
         
{{>hmrc_banner}}




<main id="content" role="main">
    <div class="inner-block">
        <header class="page-header group">
          
        </header>
        <div class="grid-row group">
            <div class="column-two-thirds">
               
            
                   
             
                <h1 class="heading-xlarge">Check your updated details before submitting them</h1>
                
                <h2 class="heading-medium">Your old car</h2>
                
                 <h4 class="heading-small">Audi A3 provided by PAYESCHEMEOPERATORNAME51642</h4>
                
                      
                <table class="car-table">
                <tbody>
                  
                  <tr>
                    <th scope="row">Date given back</th>
                    <td>22 June 2014</td>
                  </tr>
                    
                     <tr>
                    <th scope="row">Date fuel benefit stopped</th>
                    <td>22 June 2014</td>
                  </tr>
                    
                    
              
                </tbody>
              </table>
                
                
                
                 <h2 class="heading-medium">Your new car</h2>
                      
                <table class="car-table">
                <tbody>
                  
                  <tr>
                    <th scope="row">Employer</th>
                    <td>PAYESCHEMEOPERATORNAME81135</td>
                  </tr>
                    
                     <tr>
                    <th scope="row">Make and Model</th>
                    <td>Ford Mondeo</td>
                  </tr>
                    
                     <tr>
                    <th scope="row">Date provided</th>
                    <td>01 April 2015 </td>
                  </tr>
                    
                     <tr>
                    <th scope="row">List price including VAT and accessories </th>
                    <td>£20,000</td>
                  </tr>
                    
                     <tr>
                    <th scope="row">Fuel type </th>
                    <td>Petrol, hybrid (including diesel-hybrid) or other fuel</td>
                  </tr>
                    
                     <tr>
                    <th scope="row">Emission figure </th>
                    <td>100 g/km</td>
                  </tr>
                    
                     <tr>
                    <th scope="row">Your contribution to private use </th>
                    <td>None</td>
                  </tr>
                    
                   
                     <tr>
                    <th scope="row">Date registered with DVLA </th>
                    <td>01 April 2015 </td>
                  </tr>
                    
                     <tr>
                    <th scope="row">Engine size </th>
                    <td>1,400cc or less</td>
                  </tr>
                    
                     <tr>
                    <th scope="row">Your contribution to the price </th>
                    <td>None</td>
                  </tr>
                    
                     <tr>
                    <th scope="row">Fuel for private usee </th>
                    <td>Yes</td>
                  </tr>
               
              
                </tbody>
              </table>
                
                
                
                <div class="panel-indent">
                        <p> Date given back (22 June 2014), date fuel benefit stopped (22 June 2014) and date provided (01 April 2015) will only be used to estimate tax on your company car benefits for the 2015 to 2016 tax year.</p>
                </div>
                
                
                
                
                <p class="font-small"><a href="car-7.html">Change your answers</a></p>
                    
                    
                
    <a href="car-9.html" button class="button" >Submit</a>
                
                
                <br><br><br>
                
                <p class="font-xsmall"><a href="">Get help with this page.</a></p>

                
                    </div>
               
            
            
            
            
            </div>
               
            
            
            
            
            
            
            
            
          
        
        
            
            
            </div>
        </div>
    </div><!-- end inner block -->
</main>
{{/content}}
{{/layout}}