{{<layout}}
{{$pageTitle}}Your details have been updated{{/pageTitle}}
{{$content}}
         
{{>hmrc_banner}}




<main id="content" role="main">
    <div class="inner-block">
        <header class="page-header group">
          
        </header>
        <div class="grid-row group">
           
                <article class="content__body width-3-4 ">
               
            
                   
                    <div class="highlighted-event spacing-top spacing-bottom">
<h2 class="confirmation">Your details have been updated</h2>
<div>
Your tax code has changed from
<span id="old-tax-code">94L</span>. Your new tax code is
<div id="new-tax-code">8T</div>
</div>
</div>
                    
                    <p>HM Revenue and Customs will write to you if your tax code has changed.</p>              
                 <a href="/car-service" class="">Check your company car benefit details</a>
                    <br><br>
            
                 <p class="font-small"><a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/income-tax-enquiries-for-individuals-pensioners-and-employees"                                            target="_blank">Contact HMRC</a> or your employer if you think your tax code for the 2014 to 2015 tax year was wrong.</p>
                <!--<a class="cancel" href="/" class="cancel">Sign out</a>-->
             
                <h3 class="heading-small">What happens next?</h3>
                <p>Use the <a href="http://paye-employees.herokuapp.com/latest/latest-your-tax">Check your Income Tax estimate service</a> to see how much Income Tax you may have to pay on your income. 
                    
            </div>
             
            
             
             
        
        
        
          <div>
              <a href="/mb6/mb6-exit-survey" class="button">Finish</a>
                </div>
        
        
            
              <br>
                
                <p class="font-xsmall"><a href="">Get help with this page.</a></p>

            
            
        </div>
                    
                    
                  
          
            
            </div>
        </div>
    </div><!-- end inner block -->
</main>
{{/content}}
{{/layout}}