{{<layout}}
{{$pageTitle}}Your details have been updated{{/pageTitle}}
{{$content}}
         
{{>hmrc_banner}}




<main id="content" role="main">
    <div class="inner-block">
        <header class="page-header group">
          
        </header>
        <div class="grid-row group">
           
                <article class="content__body width-3-4 ">
               
            
                   
                    <div class="highlighted-event spacing-top spacing-bottom">
<h2 class="confirmation">Your details have been updated</h2>
<div>
Your tax code has changed from
<span id="old-tax-code">94L</span>. Your new tax code is
<div id="new-tax-code">8T</div>
</div>
</div>
                    
                       
                    <p class="font-small">HM Revenue and Customs (HMRC) will write to you to confirm your new tax code within 7 days.</p>
                    
                      <p class="font-small">You can view your updated details and estimated tax on your benefits.</p>
                    
                      <a href="/car-service" button class="button">View your details</a>
                    
                    <p class="font-small"><a href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/income-tax-enquiries-for-individuals-pensioners-and-employees"                                            target="_blank">Contact HMRC</a> or your employer if you think your tax code for the 2014 to 2015 tax year was wrong.</p>
                        
                        
                   <div class="spacing-top-smaller spacing-bottom-smaller">
                            <p class="grey--bottom"></p>
                    </div>
                        
             
                 <h2 class="heading-medium">Check your income tax estimate</h2>
                    
                  
                    
                     <p class="font-small">You can check how much tax you may pay using the <a href="https://www-dev.tax.service.gov.uk/tai">Check your Income Tax estimate</a> service.</p>
                        
                  
                
                <br>
                
                <p class="font-xsmall"><a href="">Get help with this page.</a></p>

                </article>
                  
                    
                    
                  
          
            
            </div>
        </div>
    </div><!-- end inner block -->
</main>
{{/content}}
{{/layout}}