{{<layout}}
{{$pageTitle}}Remove a fuel benefit{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        <header class="page-header group">
          
        </header>
        <div class="grid-row group">
            <div class="column-two-thirds">
               
                <h1 class="heading-xlarge">Remove a fuel benefit</h1>
                   
             
                   <h2 class="heading-medium">Your current car</h2>
                
                <h4 class="heading-small">Audi A3 provided by PAYESCHEMEOPERATORNAME51642.</h4>
                
                          <br> 
                
                 <!-- old number layout  <div class="numbers">2.</div>
                
                <div class="car-qs">
                           
                <p class="font-small">When did the fuel benefit for this car stop?</p>
                
                
                <span class="form-hint">For example, 12 06 2015</span> -->
                
                <p class="font-small">When did the fuel benefit for this car stop?</p>
                
                
                <span class="form-hint">For example, 12 06 2015</span>
                
                
                    <!--test info 
                
                <details role="group">
                    <div id="action-buttons">
                        <summary role="button">
                        <span class="button1"  target=boxtwo> <i class="arrow arrow-closed" aria-hidden="true">►</i>
                            <span class="summary">Help with nationality</span></span>
                        </summary></div>
                  
                    
                    <div id="boxtwo" class=box2>  <div id="details-content-0" class="panel-indent" aria-hidden="false" style="display: block;">
                            <p> If you’re not sure about your nationality, try to find out from an official document like a passport or national ID card. </p>
                            <p> We need to know your nationality so we can work out which elections you’re entitled to vote in. If you can’t provide your nationality, you’ll have to send copies of identity                                   documents through the post. </p>
                      </div></div>
                </details>
                
                
                
                
               -->

                
                
          <br>
                
               <div class="no-touch native-date-picker form-date">
                   <div class="form-field--inline form-group js-input--contextual ">
                       <label class=" label--inline-tight " for="providedFrom.day"> Day </label>
                       <input id="providedFrom-day" class="input--xxsmall form-field--inline push--left" type="text" value="" name="providedFrom.day" maxlength="2">
                   </div>
                   <div class="form-field--inline form-group js-input--contextual ">
                       <label class=" label--inline-tight " for="providedFrom.month"> Month </label>
                       <input id="providedFrom-month" class="input--xxsmall form-field--inline push--left" type="text" value="" name="providedFrom.month" maxlength="2">
                   </div>
                   <div class="form-field--inline form-group js-input--contextual ">
                       <label class=" label--inline-tight " for="providedFrom.year"> Year </label>
                       <input id="providedFrom-year" class="input--xsmall form-field--inline push--left" type="text" value="" name="providedFrom.year" maxlength="4">
                   </div>
                </div>
                
                
                <br>
                
                <a href="car-2.html" button class="button" >Next</a>
                
                 <p class="font-small"><a href="/">Cancel. Your changes won't be saved.</a>
                     
                      <br><br><br>
                
                <p class="font-xsmall"><a href="">Get help with this page.</a></p>

                
                
               </div>
                    </div>
               
            
            
            
            
            </div>
               
            
            
            
            
            
            
            
            
          
        
        
            
            
            </div>
        </div>
    </div><!-- end inner block -->
</main>
{{/content}}
{{/layout}}