{{<layout}}
{{$pageTitle}}Check or change medical insurance{{/pageTitle}}
{{$content}}
            {{>hmrc_banner}}

<div class="outer-block">
    <div class="inner-block">
        
       <div id="global-breadcrumb" class="header-context">
<ol class="group" role="breadcrumbs">
    <li>
<a href="">Account home</a>
</li>
<li>
<a href="">Income Tax</a>
</li>
    <li>
<a href="">Tax estimate</a>
</li>
    

</ol>
</div>
        
        
    
        
        
        <div class="grid-row">
            <div class="column-two-thirds">
                <main id="content" role="main">
                    <header class="page-header group">
                        <h1 class="heading-xlarge-start" >Check or update your company car tax</h1>
                    </header>
                    <div class="start-content">
                        
                 <div class="panel-indent">
    <p>You can't use this service if you're part of a car averaging or car sharing scheme, or your employer is managing benefits through the company payroll (known as 'payrolling).      
                     </p>
                        </div>
                        
                        <p>If you want to change your car details you'll need the list price (including VAT and accessories) and CO2 emissions information.</p>
                        
                        <p>You can get these details from the car manufacturer or your employer.</p>
                     
                        
                       <h3 class="heading-medium">Do you want to:</h3>
                        
                          <ul class="list-bullet">
                            <li>check your current car details?</li>
                            <li>change your car details?</li>
                               <li>update your fuel benefit?</li>
                                           </ul>
                        
                        
                   <br>
                        <a href="" class="button">Yes, continue</a>
                        <p  class="back-to-previous2"> <a href="">No, cancel</a></p>
                
                       
                       
                                          
                        
                        
                        
                    </div>
            </main>
                
                <script>
var my_title = document.getElementById("proposition-name");
    my_title.innerHTML = "Check or update your company car tax"
</script>

                
                
        </div>
                                   <!-- <div class="column-third">
                            <div class="related">
                                <h2 class="heading-medium">Elsewhere on GOV.UK</h2>
                               <!-- <p class="font-xsmall">These links will open in another window</p>-->
                               <!-- <ul>
                                    <li><a href="https://www.gov.uk/tax-company-benefits/overview">Tax on company benefits</a></li>
                                </ul>
                            </div>
                        </div> -->

        </div><!-- grid row -->
    </div><!-- inner block -->
</div><!-- outer block -->
{{/content}}
{{/layout}}