{{<layout}}
{{$pageTitle}}Index{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        <header class="page-header group">
            <h1 class="heading-xlarge">Update medical benefit amount</h1>
        </header>
        <div class="grid-row group">
            <div class="column-two-thirds">
                <p>How much medical benefit did you get for <span style="font-weight: bold;">Bupa health insurance</span> from 6 April 2015 to 5 April 2016?</p>
                <form id="mb-choice">
                    <div class="form-group">
                        <label class="form-label" for="first-name-2">Total amount (£)</label>
                        <input class="form-control" id="first-name-2" type="text">
                    </div>
                </form>
                <div class="panel-indent">
                    <p>Changes apply only to the tax year from 6 April 2015 to 5 April 2016. If you get any medical benefit in the tax year from 6 April 2016 you must tell us.</p>
                </div>
                <div>
                    <a id="choice-next" href="mb2-summary" class="button">Next</a>
                </div>
                <a class="cancel" href="mb2-home">Cancel – your changes will not be saved</a>
            </div>
        </div>
    </div><!-- end inner block -->
</main>
{{/content}}
{{/layout}}