{{<layout}}
{{$pageTitle}}Index{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        <header class="page-header group">
            <h1 class="heading-xlarge">Review and confirm</h1>
            <p>Confirm that you want to remove this medical benefit.</p>
            <h2 class="heading-small">6 April 2015 to 5 April 2016</h2>
        </header> 
        <div class="grid-row group">
            <div class="column-two-thirds bd-top">
                <h3 class="heading-small">Health insurance</h3>
                <table>
                    <tbody>
                        <tr>
                            <td>Provider</td>
                            <td>Starbucks</td>
                        </tr>
                        <!--tr>
                            <td>Amount received (£)</td>
                            <td>0</td>
                        </tr-->
                    </tbody>
                </table>
            </div>
        </div>  
        <div class="next-question">
            <a href="/mb2/mb2-finish" class="button alertButton">Remove this benefit</a>
        </div>
        <a class="cancel" href="/mb2/mb2-home">Cancel – your changes will not be saved</a>
    </div>
</main>
{{/content}}
{{/layout}}