{{<layout}}

{{$pageTitle}}Index{{/pageTitle}}

{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        <!--div class="inner"-->
            <header class="page-header group">
                <h1 class="heading-xlarge">Change made</h1>
                <p>Your change has been submitted. Our records have been updated</p>
            </header>
        <a href="mb2-home" class="button">View my benefits</a>
        <a class="cancel" href="/" class="cancel">Sign out</a>
        <!--/div><!-- end inner -->
    </div><!-- end inner block -->
</main>
{{/content}}
{{/layout}}