{{<layout}}
{{$pageTitle}}Index{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        <header class="page-header group">
            <h1 class="heading-xlarge">Update or remove a medical benefit</h1>
            <h2 class="heading-medium">Your medical benefits</h2>
            <!--p>You currently receive these medical benefits.</p-->
        </header>
        <div class="grid-row group">
            <div class="column-two-thirds bd-top">
                <h3 class="heading-small">Health insurance</h3>
                <table>
                    <tbody>
                        <tr>
                            <td>Provider</td>
                            <td>[Employer name]</td>
                        </tr>
                        <tr>
                            <td>Amount (£)</td>
                            <td>4000</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="column-third bd-top">
                <h3 class="heading-small">Manage this benefit</h3>
                <ul>
                    <li><a href="mb2-update">Update this amount</a></li>
                    <li><a href="mb2-remove">Remove this benefit</a></li>
                </ul>
            </div>
        </div>  
        <div class="grid-row group">
            <div class="column-two-thirds bd-top">
                <h3 class="heading-small">Health insurance</h3>
                <table>
                    <tbody>
                        <tr>
                            <td>Provider</td>
                            <td>[Employer name]</td>
                        </tr>
                        <tr>
                            <td>Amount (£)</td>
                            <td>100</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="column-third bd-top">
                <h3 class="heading-small">Manage this benefit</h3>
                <ul>
                    <li><a href="mb2-update">Update this amount</a></li>
                    <li><a href="mb2-remove">Remove this benefit</a></li>
                </ul>
            </div>
        </div>        
    </div><!-- end inner block -->
</main>
{{/content}}
{{/layout}}