{{<layout}}
{{$pageTitle}}This benefit has been removed{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        
         <div id="global-breadcrumb" class="header-context">
<ol class="group" role="breadcrumbs">

    <li>
<a href="">Account home</a>
</li>
<li>
<a href="/mb7-3/mb7-3-income-tax.html">Income Tax</a>
</li>

    
<li>Tell us about a change</li>
</ol>
</div>
        
        
        <header class="page-header group">
            <div class="grid-row group"></header>
                <div class="column-two-thirds">
                    
              <h1 class="heading-xlarge text" style="margin-bottom:0">Tell us about a change</h1>
                
              
           <section>
            <h2 class="teal-underline" style="margin-top:0; margin-bottom:25px; margin-top:25px;">If your details are wrong you may be able to change them</h2>
               

            <p>You can:</p>
            <ul class="list-bullet">
              <li><a href="/mb7-3/mb7-3-ended-amend">change your medical benefit details</a></li>
              <li><a href="#">update your income</a></li>
            </ul>
            <br>
            </section>

            <p><a href="/mb7-3/mb7-3-income-tax.html">Back</a></p>
      
                    
            </div>
             
            
             
             
        </div>
        
        
          
        
        
        
    </div>
</main>
{{/content}}
{{/layout}}