{{<layout}}
{{$pageTitle}}Index{{/pageTitle}}
{{$content}}
<div class="outer-block">
    <div class="inner-block">
        <div class="hmrc-banner">
            <i class="hmrc-crest"></i> HM Revenue and Customs
        </div>
        <div class="service-info__help">
            <p>&nbsp;</p>
        </div>
        <div class="grid-row">
            <div class="column-two-thirds">
                <main id="content" role="main">
                    <header class="page-header group">
                        <h1 class="heading-xlarge">You've signed out of your account</h1>
                    </header>
                    <div class="start-content">
                        <p>To use the service again you'll need to <a href="">sign in.</a></p> 
                        <p>Give us feedback to help us improve this service. It will take no more than 2 minutes.</p>
                     
                        
                
                        <h1 class="heading-medium">Verifying your identity</h1>
                        
                        
                        <p>How easy was it to register?</p>
                        
                    </div>
            </main>
        </div>
                                    <div class="column-third">
                            <div class="related">
                                <h2 class="heading-medium">Elsewhere on GOV.UK</h2>
                                <p class="font-xsmall">These links will open in another window</p>
                                <ul>
                                    <li><a href="https://www.gov.uk/tax-company-benefits/overview">Tax on company benefits</a></li>
                                </ul>
                            </div>
                        </div>

        </div><!-- grid row -->
    </div><!-- inner block -->
</div><!-- outer block -->
{{/content}}
{{/layout}}