{{<layout}}
{{$pageTitle}}Index{{/pageTitle}}
{{$content}}
<div class="outer-block">
    <div class="inner-block">
        <div class="hmrc-banner">
            <i class="hmrc-crest"></i> HM Revenue and Customs
        </div>
        <div class="service-info__help">
            <p>&nbsp;</p>
        </div>
        <div class="grid-row">
            <div class="column-two-thirds">
                <main id="content" role="main">
                    <header class="page-header group">
                        <h1 class="heading-xlarge">Update Medical Insurance</h1>
                    </header>
                    <div class="start-content">
                        <p>As an employee, you pay tax on company benefits such as medical insurance paid for by your employer.</p> 
<p>Your employer takes the tax you owe from your wages through Pay As You Earn (PAYE). If HM Revenue and Customs (HMRC) has the wrong details you may pay the wrong amount of income tax.</p>
                        <h2 class="heading small">Use this service to:</h2>
                        <ul class="list-bullet">
                            <li>view your medical insurance</li>
                            <li>tell us you no longer get the medical insurance and change the amount</li>
                            <li>tell us you’ve never had the medical insurance</li>
                        </ul>
                        <p>You must verify your identity to use this service for the first time. You’ll need:</p>
                        <ul class="list-bullet">
                            <li>a valid UK passport or UK photo-card driving licence</li>
                            <li>access to your financial information
                            <li>You only have to verify your identity once. After that you can sign in with your username and password.</li>
                        </ul> 
                        <div class="panel-indent">
                            <p>Changes to the amount of medical insurance received apply only for the tax year from 6 April 2015 to 5 April 2016. If you continue to receive medical insurance in the year from 6 April 2016 you must tell us.</p>
                        </div>
                        <br>
                        <a href="/mb4/mb4-home" class="button button-get-started">Start now</a>
                        <p class="font-xsmall destination">On GOV.UK Verify</p>
                        <h1 class="heading-medium">Before you start</h1>
                        <p>To use the service you:</p>
                        <ul class="list-bullet">
                            <li>must have at least one employer in the tax year starting 6 April 2015</li>
                            <li>still be working for that employer</li>
                        </ul>

                        <p>You can’t use this service to:</p> 
                        <ul class="list-bullet">
                            <li>change medical insurance details for dates before 6 April 2015</li>
                            <li>add a new period of medical insurance</li>
                        </ul>
                    </div>
            </main>
        </div>
                                    <div class="column-third">
                            <div class="related">
                                <h2 class="heading-medium">Elsewhere on GOV.UK</h2>
                                <p class="font-xsmall">These links will open in another window</p>
                                <ul>
                                    <li><a href="https://www.gov.uk/tax-company-benefits/overview">Tax on company benefits</a></li>
                                </ul>
                            </div>
                        </div>

        </div><!-- grid row -->
    </div><!-- inner block -->
</div><!-- outer block -->
{{/content}}
{{/layout}}