{{<layout}}
{{$pageTitle}}Index{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<main id="content" role="main">
    <div class="inner-block">
        <header class="page-header group">
            <div class="grid-row group">
                <div class="column-two-thirds">
                    <div class="done-box">
                        <h1 class="heading-large tick">Your medical insurance has been updated</h1> 
                    </div>
                </div>
            </div>
        </header>
        <div class="grid-row group">
            <div class="column-two-thirds">
                <p class="">Your change has been submitted. Our records have been updated.</p>
                <hr class="border"> 
                <a href="mb4-home-updated" class="">View my medical insurance</a>
                <a class="cancel" href="/" class="cancel">Sign out</a>
                <hr>
                <h3 class="heading-small">Your tax estimate</h3>
                <p>The Check your Income Tax estimate service shows how much Income Tax you may pay on your income. It includes benefits from your employer(s) such as medical insurance or a company car.</p>
                <a href="#">View your tax estimate</a>
            </div>
        </div>
    </div>
</main> 
{{/content}}
{{/layout}}