{{<layout}}
{{$pageTitle}}Tax estimate{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}



<main id="content" role="main">
    <div class="inner-block">
        
       
 <div id="global-breadcrumb" class="header-context">
<ol class="group" role="breadcrumbs">
    <li>
<a href="http://personal-tax-account.herokuapp.com/pta/pta-home-1">Account home</a>
</li>
    
      <li>
<a href="/mb10v2/mb10v2-check-income-tax.html">Income Tax</a>
</li>

    

</ol>
</div>
    <div class="eng-welsh-toggle"><p style="font-size:19px">English | <a href="">Cymraeg</a></p></div>    
        
            
        <header class="page-header group">
            <h1 class="heading-xlarge2">Your tax free amount</h1>
        
            
            
           
        </header>
        
        
    <section class="section--branded">
        <h2>6 April 2015 to 5 April 2016</h2>

     
     
     <div class="column-two-thirds">
       <h3 class="heading-small tax-data">Your tax free amount is<br>
        <span class="secondary-text-colour bold-xlarge">£10,200</span>
        </h3>
         

<p>Your tax free amount is spread across the tax year. Each payday you get part of your tax free amount so that by the end of the tax year you’ve had the full tax free amount available to you. </p>
         
         <p>Everyone who lives in the UK receives some income before tax has to be paid - a “tax free amount” of income. That tax free amount is a “personal allowance” that depends on your circumstances.</p>
         
         <h3 class="heading-medium">How we work out your tax free amount</h3>
         <section class="table-section">
                       <table>
                        <thead>
                          <tr>
                            <th scope="col">Tax free allowances</th>
                            <th class="numeric">Amount (£)</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <td>
                                  Personal Allowance
                              </td>
                              <td class="numeric">10,600</td>
                            </tr>
                            
                             <tr>
                              <td>
                                Less medical benefit
                              </td>
                              <td class="numeric">400</td>
                            </tr>
                        
                             <tr>
                                <td class="row-sum">Total</td>
                                <td class="numeric row-sum">10,200</td>
                             </tr>
                       </tbody>
                      </table>
                    </section>
         
         <p class="short">Your tax free amount of £10,200 is used to create <a href="/mb10v2/mb10v2-tax-codes.html">your tax code</a>.</p>
      
         
           <!-- back to previous page link -->
                                          
                       <p class="back-to-previous"><a href="http://personal-tax-account.herokuapp.com/pta/pta-home-1">Back to Account home</a></p>
                        
                        <!-- end of link -->
         
         
       </div>
     
        </section>
        
            <div class="column-third">
                      <h4 class="heading-small"><a href="mb10v2-check-income-tax.html">Your income tax</a></h4>
                      <div class="secondary-text-colour bold-medium">£2,960</div>
                      <h4 class="heading-small"><a href="mb10v2-tax-on-income.html">Your income</a></h4>
                      <div class="secondary-text-colour bold-medium">£25,400</div>
                      <h4 class="heading-small"><a href="mb10v2-tax-codes.html">Your tax code</a></h4>
                      <div class="secondary-text-colour bold-medium">1020L</div>
          </div>
        
     
  
        
         
         
        
         
         
         
        
      
        
    
        
         
         
        </div>
        
        
       
       
            
              <!-- start of anythign wrong link-->
        
         <div class="column-two-thirds">
             
             
         
                    <p class="report-a-problem-toggle" style="padding:50px 0 0 0; margin-bottom:-100px">
                        <a href="#" id="toggle2">Is there anything wrong with this page?</p></a>
                    </p>
            
             
             
<div  class="toggle2" style="display:none; padding:80px 0 0 0;">
                <div class="report-a-problem-container">
                    <div class="report-a-problem-inner">
                        <div class="report-a-problem-content" >
                            <h2 class="heading-medium">Help us improve GOV.UK</h2>
                            <p style="font-size:19px">Don't include personal or financial information, eg your National Insurance number or credit card details.</p>
                            <form accept-charset="UTF-8" id="help-improve-form" novalidate="novalidate" _lpchecked="1">

                                <div class="form-group form-group-error">
                                    <label for="what_doing" class="form-label">What you were doing</label>
                                    <label for="what_doing" class="error">Please enter details of what you were doing.</label><input id="what_doing" class="form-control" name="what_doing" type="text" required="" aria-required="true" aria-invalid="true">
                                </div>
                                <div class="form-group form-group-error">
                                    <label for="went_wrong" class="form-label">What went wrong</label>
                                    <label for="went_wrong" class="error">Please enter details of what went wrong.</label><input id="went_wrong" class="form-control" name="went_wrong" type="text" required="" aria-required="true">
                                </div>
                                <div class="button-wrapper">
                                    <button name="commit" type="submit" class="button">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> 
             <!-- end of anything wrong link -->
        
    
    
    
        </div>
        
        
        
    </div><!-- end inner block -->
    
    
</main>


<script>
var my_title = document.getElementById("proposition-name");
    my_title.innerHTML = "Check your Income Tax"
</script>



{{/content}}
{{/layout}}