{{<layout}}
{{$pageTitle}}Tax estimate{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}



<main id="content" role="main">
    <div class="inner-block">
        
       
 <div id="global-breadcrumb" class="header-context">
<ol class="group" role="breadcrumbs">
    <li>
<a href="http://personal-tax-account.herokuapp.com/pta/pta-home-1">Account home</a>
</li>
<li>
<a href="/mb10v2/mb10v2-check-income-tax.html">Income Tax</a>
</li>
    

</ol>
</div>
    <div class="eng-welsh-toggle"><p style="font-size:19px">English | <a href="">Cymraeg</a></p></div>    
        
            
        <header class="page-header group">
            <h1 class="heading-xlarge2">Your taxable income</h1>
           
            
            
           
        </header>
        
   
    
       
      <section class="section--branded">
        <h2>6 April 2015 to 5 April 2016</h2>
          
           <div class="column-two-thirds">
               
               <h3 class="heading-small tax-data">Your estimated taxable income is<br>
        <span class="secondary-text-colour bold-xlarge">£25,400</span></h3>
               
               
               <p>This is for guidance only to give you an idea of how much tax you might pay this year. Only your income provider knows what you actually earn. They tax you on that amount.</p>
               
               
               <details>
                   <summary><span class="summary">If your income looks wrong</span></summary>
          <div class="panel-indent">
             <p>It might be because:</p>
            <ul class="list-bullet">
              <li>tax free deductions have already been taken off (these are payments for things like a company pension or childcare vouchers)</li>
              <li>bonus or overtime payments may be temporarily affecting your estimated annual income </li>
              <li>our records need to be updated by your employer</li>
            </ul>
            You can <a href="https://tai-prototype.herokuapp.com/sprint31/v1/calc/update">update your income</a> on our records.
            </div>
        </details>
               
               
               <h3 class="heading-medium">How we calculated this figure</h3>
               
               
               
               
                    
                    <table>
                    <thead>
                    <tr>
                    <th>Income from employment</th>
                    <th class="right-col">Amount (£)</th>
                    </tr>
                    </thead>
                    
                        <tbody>
        
            
                <tr class="income-data">
                    
                        <td class="break-word">Current
                            employer: Waitrose 
                        </td>
                    
                    <td class="text--right">15,000</td>
                </tr>
            
        

        
                <tr class="income-data">
                    
                        <td class="break-word">Previous
                            employer: Starbucks
                        </td>
                    
                    <td class="text--right">10,000</td>
                </tr>
            
        
  
            
        
    </tbody>
                        
                  
                        <tfoot>
            <tr class="row-sum">
                <td>Total</td>
                <td class="text--right">25,000</td>
            </tr>
        </tfoot>
                        
              </table>
                       
                         <!-- <p class="alert alert-success">
                                        You can <a href="">update your income</a> to make this estimate more accurate.
                 
                    </p>-->
                        
                        <br><p><a href="">See who told us about your income</a></p><br>
                        
                        <table>
                        
                        <thead>
                    <tr>
                    <th>Company benefits</th>
                    <th class="right-col">Amount (£)</th>
                    </tr>
                    </thead>
                        <tbody>
                    <tr>
                    <td>
                    Medical benefit (<a href="/mb10v2/mb10v2-start.html">check or update</a>)
                   
                    </td>
                    <td class="right-col"><span id="sb-amount">400</span></td>
                    </tr>
                        
                      
                     
                    <tr>
                    <td class="row-sum">Total</td>
                    <td class="right-col row-sum">400</td>
                    </tr>
                    </tbody>
                    </table>
                   
                      <!--  <div class="alert alert-success">
                        <p>You can check or update your:</p>
                            <ul class="list-bullet"><li>
  <a href="/mb9/mb9-start.html">medical insurance benefit</a></li>
   
  </ul>
                          
                 
                    </p></div>-->
                     
                
                   
            
            
            
           <!-- back to previous page link -->
                                          
                       <p class="back-to-previous"><a href="/mb10v2/mb10v2-check-income-tax.html">Back to Tax Estimate</a></p>
                        
                        <!-- end of link -->
      
         
         
        </div>
          
              <div class="column-third">
                      <h4 class="heading-small"><a href="mb10v2-check-income-tax.html">Your income tax</a></h4>
                      <div class="secondary-text-colour bold-medium">£2,960</div>
                      <h4 class="heading-small"><a href="mb10v2-tax-free-amount.html">Your tax free amount</a></h4>
                      <div class="secondary-text-colour bold-medium">£10,200</div>
                      <h4 class="heading-small"><a href="mb10v2-tax-codes.html">Your tax code</a></h4>
                      <div class="secondary-text-colour bold-medium">1020L</div>
          </div>
        
          
        
        
           </div>

            
              <!-- start of anythign wrong link-->
        
        
            
              <!-- start of anythign wrong link-->
        
         <div class="column-two-thirds">
             
             
         
                    <p class="report-a-problem-toggle" style="padding:50px 0 0 0; margin-bottom:-100px">
                        <a href="#" id="toggle2">Is there anything wrong with this page?</p></a>
                    </p>
            
             
             
<div  class="toggle2" style="display:none; padding:80px 0 0 0;">
                <div class="report-a-problem-container">
                    <div class="report-a-problem-inner">
                        <div class="report-a-problem-content" >
                            <h2 class="heading-medium">Help us improve GOV.UK</h2>
                            <p style="font-size:19px">Don't include personal or financial information, eg your National Insurance number or credit card details.</p>
                            <form accept-charset="UTF-8" id="help-improve-form" novalidate="novalidate" _lpchecked="1">

                                <div class="form-group form-group-error">
                                    <label for="what_doing" class="form-label">What you were doing</label>
                                    <label for="what_doing" class="error">Please enter details of what you were doing.</label><input id="what_doing" class="form-control" name="what_doing" type="text" required="" aria-required="true" aria-invalid="true">
                                </div>
                                <div class="form-group form-group-error">
                                    <label for="went_wrong" class="form-label">What went wrong</label>
                                    <label for="went_wrong" class="error">Please enter details of what went wrong.</label><input id="went_wrong" class="form-control" name="went_wrong" type="text" required="" aria-required="true">
                                </div>
                                <div class="button-wrapper">
                                    <button name="commit" type="submit" class="button">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> 
             <!-- end of anything wrong link -->
        
    
    
    
        </div>
        
        
        
    </div><!-- end inner block -->
    
    
</main>


<script>
var my_title = document.getElementById("proposition-name");
    my_title.innerHTML = "Check your Income Tax"
</script>



{{/content}}
{{/layout}}