{{<layout}}
{{$pageTitle}}Check or update your medical insurance{{/pageTitle}}
{{$content}}
            {{>hmrc_banner}}

<div class="outer-block">
    <div class="inner-block">
        
       <div id="global-breadcrumb" class="header-context">
<ol class="group" role="breadcrumbs">
    <li>
<a href="">Account home</a>
</li>
<li>
<a href="/mb9v2/mb9v2-check-income-tax.html">Income Tax</a>
</li>
    
     <li>
<a href="/mb9v2/mb9v2-tax-on-income.html">Tax on income</a>
</li>
    

</ol>
</div>
        
        <div class="eng-welsh-toggle"><p style="font-size:19px">English | <a href="">Cymraeg</a></p></div>
        
        
    
        
        
        <div class="grid-row">
            <div class="column-two-thirds">
                <main id="content" role="main">
                    <header class="page-header group">
                        <h1 class="heading-xlarge-start" >Check or update your medical insurance benefit</h1>
                    </header>
                    <div class="start-content">
                     
                             
                        <p style="padding-top:15px";>Use this service to:</p>
                        
                          <ul class="list-bullet">
                            <li>check the value of a benefit you’re currently getting</li>
                           
                            <li>remove a benefit you’ve never had from an employer </li>
                               <li>report that you've stopped getting a benefit</li>
                     </ul>
                        
                        <p>If your benefit stopped on or after 6 April 2015, the employer that provided it will be able to confirm how much they paid.</p>
                        
                         <div class="panel-indent" > <p>You can't use this service to:</p> 
                        
                         <ul class="list-bullet">
                            <li>add new benefits or view any policy details</li>
                           
                            <li>change the value of a benefit you still get from an employer </li>
                               <li>change the value of a benefit you had before 6 April 2015</li>
                     </ul>
                        
                        </div>
                        
                        <p>Do you want to continue?</p>
                        
                        
                        <a href="/mb10v2/mb10v2-home" class="button">Yes, continue</a>
                   
                       
                      
                
                       
                        <!-- back to previous page link -->
                                          
                       <p class="back-to-previous2"><a href="/mb10v2/mb10v2-tax-on-income.html">No, cancel</a></p>
                        
                        <!-- end of link -->
                        
                    </div>
                    
                   
            </div>
                    
                    
            </main>
   
         <!-- start of anythign wrong link-->
         <div class="column-two-thirds">
             
             
         
                    <p class="report-a-problem-toggle">
                      <a  href="#" id="toggle2">Is there anything wrong with this page?</a>
                    </p>
            
             
             
<div  class="toggle2" style="display:none;">
                <div class="report-a-problem-container">
                    <div class="report-a-problem-inner">
                        <div class="report-a-problem-content" >
                            <h2 class="heading-medium">Help us improve GOV.UK</h2>
                            <p style="font-size:19px">Don't include personal or financial information, eg your National Insurance number or credit card details.</p>
                            <form accept-charset="UTF-8" id="help-improve-form" novalidate="novalidate" _lpchecked="1">

                                <div class="form-group form-group-error">
                                    <label for="what_doing" class="form-label">What you were doing</label>
                                    <label for="what_doing" class="error">Please enter details of what you were doing.</label><input id="what_doing" class="form-control" name="what_doing" type="text" required="" aria-required="true" aria-invalid="true">
                                </div>
                                <div class="form-group form-group-error">
                                    <label for="went_wrong" class="form-label">What went wrong</label>
                                    <label for="went_wrong" class="error">Please enter details of what went wrong.</label><input id="went_wrong" class="form-control" name="went_wrong" type="text" required="" aria-required="true">
                                </div>
                                <div class="button-wrapper">
                                    <button name="commit" type="submit" class="button">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> 
             <!-- end of anything wrong link -->
             
    
             </div>
             

        </div><!-- grid row -->
    
    
    </div>
    
    
    </div><!-- inner block -->
</div><!-- outer block -->





{{/content}}
{{/layout}}