 {{<layout}}
{{$pageTitle}}Your medical insurance benefit{{/pageTitle}}
{{$content}}
{{>hmrc_banner}}
<script type="text/javascript">
            function CommaFormatted(amount) {
	var delimiter = ","; // replace comma if desired
	//var a = amount.split('.',2)
	//var d = a[1];
	var i = amount;
	if(isNaN(i)) { return ''; }
	var minus = '';
	if(i < 0) { minus = '-'; }
	i = Math.abs(i);
	var n = new String(i);
	var a = [];
	while(n.length > 3) {
		var nn = n.substr(n.length-3);
		a.unshift(nn);
		n = n.substr(0,n.length-3);
	}
	if(n.length > 0) { a.unshift(n); }
	n = a.join(delimiter);
	amount = n;
	amount = minus + amount;
	return amount;
}
        </script>


<main id="content" role="main">
    <div class="inner-block">
        
       
 <div id="global-breadcrumb" class="header-context">
<ol class="group" role="breadcrumbs">
    <li>
<a href="http://personal-tax-account.herokuapp.com/pta/pta-home-1">Account home</a>
</li>
    
      <li>
<a href="/mb10v2/mb10v2-check-income-tax-updated">Income Tax</a>
</li>

    

</ol>
</div>
    <div class="eng-welsh-toggle"><p style="font-size:19px">English | <a href="">Cymraeg</a></p></div>    
        
            
        <header class="page-header group">
            <h1 class="heading-xlarge2">Your tax codes</h1>
        
            
            
           
        </header>
        
        
    <section class="section--branded">
        <h2>6 April 2015 to 5 April 2016</h2>

     
     
     <div class="column-two-thirds">
       <h3 class="heading-small tax-data">Your tax code is<br>
        <div class="grid-row">
            <div class="column-half grid">
               <div class="secondary-text-colour bold-xlarge"><script>var total = 10600 - {{sbBen}};  document.write(total / 10)</script>L</div>
               <div class="secondary-text-colour bold-small">Waitrose</div>
            </div>
           <div class="column-half grid">
                <div class="secondary-text-colour bold-xlarge">BR</div>
                <div class="secondary-text-colour bold-small">Starbucks</div>
            </div>

        </div>

        </h3>
         
         <br><br>
         <h3 class="heading-medium">What your tax code means</h3>

         
          <p>Your tax-free amount is £10,600. This is income you don’t pay tax on. To create your tax code we take your Tax Free amount then we deduct any taxable benefits in order to collect the tax due on these from your employer via Pay As You Earn (PAYE).</p>
         
         
         
           <h3 class="heading-medium">How we work out your tax code</h3>
         <section class="table-section">
                       <table>
                        <thead>
                          <tr>
                            <th scope="col">Tax code calculation</th>
                            <th class="numeric">Amount (£)</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                              <td>
                                 Your tax free amount
                              </td>
                              <td class="numeric">10,600</td>
                            </tr>
                            
                           <tr>
                              <td>
                                Less medical benefit
                              </td>
                              <td class="numeric">{{sbBen}}</td>
                            </tr>
                        
                             <tr>
                                <td class="row-sum">Total</td>
                                <td class="numeric row-sum"><script>var total = 10600 - {{sbBen}};  document.write(CommaFormatted(total))</script></td>
                             </tr>
                       </tbody>
                      </table>
             
             
         </p>
          <p>You have £<script>var total = 10600 - {{sbBen}};  document.write(CommaFormatted(total))</script> remaining after your taxable benefits or underpayments. This figure is used to work out your tax code.</p>

          <h4 class="heading-small"><script>var total = 10600 - {{sbBen}};  document.write(total / 10)</script>L Waitrose</h4>
          <p>The last digit of your tax free amount of £<script>var total = 10600 - {{sbBen}};  document.write(CommaFormatted(total))</script> is removed to create the numbers in your tax code. The letter L means you are entitled to the basic tax-free Personal Allowance. </p>
         
          

          <h4 class="heading-small">BR Starbucks</h4>
          <p>BR means that all your income from this job or pension is taxed at the basic rate of 20%.</p>

          <p><a href="mb10v2-tax-free-amount-updated">See how we worked out your tax free amount</a></p>
          <p><a href="http://personal-tax-account.herokuapp.com/pta/pta-home-1">Back to Account Home</a> </p>
       </div>
     
        </section>
        
            <div class="column-third">
                      <h4 class="heading-small"><a href="mb10v2-check-income-tax-updated">Your income tax</a></h4>
                      <div class="secondary-text-colour bold-medium">£<script>var total = 0.20 * (30000 - 10600 + {{ccBen}})   ; document.write(CommaFormatted(total))</script></div>
                      <h4 class="heading-small"><a href="mb10v2-tax-on-income-updated">Your income</a></h4>
                      <div class="secondary-text-colour bold-medium">£<script>var total = 30000 + {{ccBen}}; document.write(CommaFormatted(total))</script></div>
                      <h4 class="heading-small"><a href="mb10v2-tax-free-amount-updated">Your tax free amount</a></h4>
                      <div class="secondary-text-colour bold-medium">£10,600</div>
          </div>
        
     
  
        
         
         
        
         
         
         
         
         
         
      
        
    
        
         
         
        </div>
        
        
       
       
            
              <!-- start of anythign wrong link-->
        
         <div class="column-two-thirds">
             
             
         
                    <p class="report-a-problem-toggle" style="padding:50px 0 0 0; margin-bottom:-100px">
                        <a href="#" id="toggle2">Is there anything wrong with this page?</p></a>
                    </p>
            
             
             
<div  class="toggle2" style="display:none; padding:80px 0 0 0;">
                <div class="report-a-problem-container">
                    <div class="report-a-problem-inner">
                        <div class="report-a-problem-content" >
                            <h2 class="heading-medium">Help us improve GOV.UK</h2>
                            <p style="font-size:19px">Don't include personal or financial information, eg your National Insurance number or credit card details.</p>
                            <form accept-charset="UTF-8" id="help-improve-form" novalidate="novalidate" _lpchecked="1">

                                <div class="form-group form-group-error">
                                    <label for="what_doing" class="form-label">What you were doing</label>
                                    <label for="what_doing" class="error">Please enter details of what you were doing.</label><input id="what_doing" class="form-control" name="what_doing" type="text" required="" aria-required="true" aria-invalid="true">
                                </div>
                                <div class="form-group form-group-error">
                                    <label for="went_wrong" class="form-label">What went wrong</label>
                                    <label for="went_wrong" class="error">Please enter details of what went wrong.</label><input id="went_wrong" class="form-control" name="went_wrong" type="text" required="" aria-required="true">
                                </div>
                                <div class="button-wrapper">
                                    <button name="commit" type="submit" class="button">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div> 
             <!-- end of anything wrong link -->
        
    
    
    
        </div>
        
        
        
    </div><!-- end inner block -->




    
</main>


<script>
var my_title = document.getElementById("proposition-name");
    my_title.innerHTML = "Check your Income Tax"
</script>



{{/content}}
{{/layout}}